fieldset[id~="edit-profile-corporation"] fieldset legend, 
fieldset[id~="edit-profile-individual"] fieldset legend {
	position: relative;
	top: 0px;
	left: 0px;
	background: none;
	color: #838383;
	width: auto;
	padding: 10px 20px 0;
	font-size: 1.4em;
}
.price-table .view-content table .view-replacements .view-label {
	position: relative;
	text-align: center;
} 
#navbar-main .dropdown .expanded .link a {
	font-size: 18px;
}
#navbar-main .dropdown a, 
#navbar-main .dropdown li {
	font-size: 14px;
}