div.ctools-modal-content {
	background: #f0f0f0;
	border: 0px;
	font-size: 1rem;
	font-family: 'PT Sans';
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
	div.ctools-modal-content .modal-header {
		position: relative;
		padding: 45px 55px 0;
	}
	div.ctools-modal-content .modal-header,
	div.ctools-modal-content .modal-title {
		background: transparent;
		color: #3eafc9;
		font-size: 1.7142rem;
		font-weight: 400;
	}
	div.ctools-modal-content .popups-close {
		position: absolute;
		display: block;
		width: 23px;
		height: 23px;
		top: 10px;
		right: 10px;
		cursor: pointer;
		background: url('../images/content/close.png');
	}

	div.ctools-modal-content .modal-content {
		padding: 25px 55px;
		width: 100% !important; 
	}
		div.ctools-modal-content .modal-content form {
			margin: 0;
		}
			.modal-content .form-wrapper .form-item {
				margin: 0 0 15px;
			}
				div.ctools-modal-content .form-item label {
					float: none;
				}
				div.ctools-modal-content .resizable-textarea {
					margin: 0px;
					width: 100%;
				}
					div.ctools-modal-content .form-item textarea {
						width: 100%;
						height: 120px;
					}
		div.ctools-modal-content div.messages.error {
			margin: 0 0 30px;
		}
		div.ctools-modal-content button.primary {
			background: #3eafc9;
		}
		div.ctools-modal-content .field-name-field-quantity {
			width: 47.5%;
			margin: 0;
			float: left;
		}
		div.ctools-modal-content .field-name-field-waiting-time {
			width: 47.5%;
			float: right;
		}
		div.ctools-modal-content .field-name-field-message {
			clear: both;
		}
