h1,h2,h3,h4,h5,h6,
.view-id-details .view-header h2 a,
.block.recently-buy .block-title {
	color: #d7473e;
}

/* RUB */
div.price-table .view-content tbody tr td.views-field-field-retail-price {
  white-space: nowrap;
}
.price-table .view-content table td.views-field-add-to-cart-form {
  padding-left: 0px;
}

/* variant 2 */
#primary .navbar,
#header .header-after .navbar {
	background: none;
}
.under-content-carousel .view-header {
	background-color: #d7473e;
	border-bottom: 5px solid #cc3b32;
}
.jcarousel-skin-default .jcarousel-next-horizontal, .jcarousel-skin-default .jcarousel-prev-horizontal {
	background-color: #2a9fb9;
}
#footer .contacts,
#footer .contacts .content {
	position: relative;
}
#footer .contacts {
	padding: 0 0 0 20px;
}
	#footer .contacts:before {
		position: absolute;
		display: block;
		content: '';
		top: -30px;
		left: 0px;
		width: 100%;
		height: 125px;
		background-color: #2a9fb9;
		border-top: 10px solid #228fa7;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

/*
	Changes 22.01.2015
*/
.navbar-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1;
}
.navbar ul {
	position: relative;
	z-index: 2;
}
.parts-catalogue {
	width: 700px;
}
#header .header-before {
	background-color: #d7473e;
	border-bottom: 0px solid #cc3b32;
	border-top: 10px solid #cc3b32;
}
#primary {
	background-color: #d7473e;
}
/*.block-commerce-cart {
	background-color: #3eafc9;
	border-bottom: 10px solid transparent;
	border-top: 10px solid #228fa7;
	margin: -10px 0 0;
}*/
	.block-commerce-cart:after {
		display: none;
	}
.gumby-no-touch #navbar-main ul li.first span.link {
	float: right;
}
.gumby-no-touch #navbar-main ul li span.link a {
	border: 1px solid #cc3b32;
	margin: 0 15px;
}
.not-front #header .header .row {
	position: relative;
}
	.front #header .header .brand-logo {
		display: none;
	}
	.not-front #header .header .brand-logo {
		display: block;
		position: absolute;
		top: 5px;
		right: 230px;
		width: 90px;
		text-align: center;
	}
/*
	Changes 28.01.2015
*/
.under-content-carousel .node-news .news-text .field {
	margin: 0;
}
#header .header-after,
.under-content-carousel,
#content {
	margin: 0 0 20px;
}
.block.recently-buy .block-title {
	margin: 0 auto 20px;
}
.block.banners,
.under-content-carousel .view-header {
	margin: 0 0 30px;
}
.block.recently-buy {
	margin: 0 0 40px;
}
.jcarousel-skin-default .jcarousel-next-horizontal, .jcarousel-skin-default .jcarousel-prev-horizontal {
	top: -75px;
}
.front .under-content-carousel .jcarousel li {
	margin: 0 19px 5px 0;
}
/* Changes 07.02.2015 */
#footer {
	background: #d7473e;
	border-top: 10px solid #cc3b32;
}
	.gumby-no-touch #navbar-main ul li span.link a {
		background: #d7473e;
		border: 0px;
	}
	.gumby-no-touch #navbar-main ul li span.link a:hover {
		background: #cc3b32;
	}
/* Changes 18.02.2015 */
.block-commerce-cart {
	height: 73px;
	background-color: #3eafc9;
	background-image: url('../images/content/cart_ex_2.png');
	background-position: 5px 10px;
	background-repeat: no-repeat;
	border-top: 0px;
	border-bottom: 4px solid #228fa7;
	border-left: 4px solid #228fa7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 4px 0 2px;
}
	.block-commerce-cart .body, .block-commerce-cart .cart-empty-block {
		padding: 10px 10px 0 10px;
	}
	.block-commerce-cart .icon {
		background: none;
		/*background: url('../images/content/cart_ex_2.png') 5px 10px no-repeat;*/
	}
	.block-commerce-cart .body .count {
		border: 0px;
	}
#navbar-main ul li.level-two.first.last {
	width: 100%;
}
	#navbar-main ul li.level-two.first.last span.link {
		float: none;
		margin: 0 auto 10px;
	}
.wrapper,
#footer {
	position: relative;
	width: 1024px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 35px 0 rgba(107,103,102,0.9);
	box-shadow: 0 0 35px 0 rgba(107,103,102,0.9);
}
#footer {
	-webkit-box-shadow: 0 35px 35px 0 rgba(107,103,102,0.9);
	box-shadow: 0 35px 35px 0 rgba(107,103,102,0.9);
}

/* Changes 24.02.2015 */
.block.banners {
	margin: 0 0 30px;
	padding: 0px;
}
.view-id-banners {
	background: #f0f0f0;
	padding: 20px 0 25px;
	margin: 0 0 60px;
}
	.view-id-banners .jcarousel-item {
		position: relative;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.view-id-banners .jcarousel-item:hover {
		opacity: 0.7;
	}
		.view-id-banners .jcarousel-item:before {
			position: absolute;
			display: block;
			content: '';
			top: 5px;
			left: -7px;
			width: 100%;
			height: 100%;
			background: #dcdcdc;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
		.view-id-banners .jcarousel-item .views-field-field-image { position: relative;}
			.view-id-banners .jcarousel-item .views-field-field-image img {
				display: block;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
		.view-id-banners .jcarousel-item .views-field-body {
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 175px;
			background: #afafaf;
			color: #fff;
			padding: 5px;
			line-height: 1.1428em;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.view-id-banners.view-display-id-block {
	padding: 20px 40px 20px;
	margin: 0;
}
	.view-id-banners .jcarousel-skin-default .jcarousel-next-horizontal, 
	.view-id-banners .jcarousel-skin-default .jcarousel-prev-horizontal {
		top: 50%;
		margin: -10px 0 0;
	}
	.view-id-banners .jcarousel-skin-default .jcarousel-next-horizontal,
	.view-id-banners .jcarousel-skin-default .jcarousel-next-horizontal:hover {
		right: -30px;
		margin: -15px 0 0;
	}
	.view-id-banners .jcarousel-skin-default .jcarousel-prev-horizontal,
	.view-id-banners .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
		left: -30px;
		margin: -15px 0 0;
	}
	.jcarousel-navigation li a {
		display: inline-block;
		width: 8px;
		height: 8px;
		overflow: hidden;
		margin: 0 0 0 5px;
		background: transparent;
		border: 2px solid #333333;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		zoom: 1;
	}
	.jcarousel-navigation li.active a {
		background: #f05d54;
		border: 2px solid #f05d54;
	}
.not-front .block-biglogo {
	width: 455px;
}
.not-front .block-callback,
.not-front .block-contacts {
	width: 250px;
}
/* changes 13.03.2015 */
.price-table .view-content tbody tr td.views-field-field-sku {
	padding-right: 0px;
}
	td.views-field-field-sku .overflow-hidden, 
	td.views-field-sku .overflow-hidden {
		width: 120px;
	}

/* changes 25.03.2015 */
.block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-input, .block-commerce-search-autocomplete input[type="text"],
#edit-parts-search-text {
	color: #000;
}
.block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-input, .block-commerce-search-autocomplete input[type="text"]::-webkit-input-placeholder {
	color: #000;
}
.block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-input, .block-commerce-search-autocomplete input[type="text"]:-moz-placeholder {
	color: #000;
}
.block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-input, .block-commerce-search-autocomplete input[type="text"]::-moz-placeholder {
	color: #000;
}
.block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-input, .block-commerce-search-autocomplete input[type="text"]:-ms-input-placeholder  {
	color: #000;
}
#edit-subscriptions legend {
	width: 165px;
	top: 48px;
	left: -109px;
}
.page-user-edit-simplenews .tabs.secondary {
	margin: 0px;
  	padding: 0px;
  	height: auto;
  	line-height: 1.3em;
  	border: 0px;
}
.page-user-edit-simplenews .tabs.secondary li {
	border: 0px;
}

/* changes 06.04.2015 */
.view-display-id-last_order .views-row {
	overflow: hidden;
	padding: 0 10px 0 0;
}
