@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic,latin-ext,cyrillic-ext);

html,
body {
	min-width: 1020px;
}

.row {
	min-width: 1020px;
}
.wrapper {
	position: relative;
	height: auto;
	min-height: 100%;
	padding: 0;
	padding: 0 0 125px;

}

h1 {
	font-size: 2.1428rem; /* 30px */
	padding: 0px;
	margin: 0 0 20px;
}
h2 {
	font-size: 2rem; /* 28px */
	padding: 0px;
	margin: 0 0 20px;
}
h3 {
	font-size: 1.8571rem; /* 26px */
	padding: 0px;
	margin: 0 0 20px;
}
h4 {
	font-size: 1.5rem; /* 24px */
	padding: 0px;
	margin: 0 0 20px;
}
h5 {
	font-size: 1.375rem; /* 22px */
	padding: 0px;
	margin: 0 0 20px;
}
h6 {
	font-size: 1.4285rem; /* 20px */
	padding: 0px;
	margin: 0 0 20px;
}
.touch .row {
	min-width: 1020px;
	max-width: 1020px;
}
	.touch .row .row {
		width: 100%;
		min-width: 100%;
		max-width: 1020px;
	}

/*
	Header
*/
#primary {
	position: relative;
	min-width: 1020px;
	background: #3eafc9;
	height: 45px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.logo-container {
	float: left;
	padding: 10px 0 0;
}
	#navbar-top {
		width: 430px;
		margin: 0 auto;
		float: none;
		min-height: 45px;
		height: 45px;
	}
	#navbar-user {
		position: relative;
		float: right;
		min-width: 200px;
		width: auto;
		min-height: 45px;
		padding: 0 0 0 50px;
		height: 45px;
	}
		#navbar-user .login-ico {
			position: absolute;
			display: block;
			top: 15px;
			left: 16px;
			width: 16px;
			height: 16px;
			background: url('../images/content/login.png') 0px 0px no-repeat;
		}
	#navbar-user ul {
		margin: 15px 0 0;
	}
		#navbar-top ul li,
		#navbar-user ul li {
			padding: 10px 0 0;
			height: 25px;			
			line-height: 25px;
		}
			#navbar-top ul li a,
			#navbar-user ul li a {
				height: 25px;			
				line-height: 25px;
				text-shadow: none;
				border-radius: 4px;
				margin: 0 10px 0 0;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
			#navbar-top ul li:hover a {
				background: none;
			}			
			#navbar-top ul li a:hover {
				background: #2a9fb9;
			}
			#navbar-top ul li a.active {
				background: #228fa7;
			}

		#navbar-user ul li {
			padding: 0px;
		}
			#navbar-user ul li a {
				text-decoration: underline;				
				font-size: 0.8571rem;
			}
			#navbar-user ul li a,
			#navbar-user ul li a:hover {
				background: transparent;
				height: auto;
				line-height: 1.2em;
				padding: 0px;
			}
			#navbar-user ul li a:hover {
				text-decoration: none;
			}
			}
#header {}
	#header .header-before {
		position: relative;
		min-width: 1020px;
		background: #2a9fb9;
		border-top: 10px solid #228fa7;
		border-bottom: 10px solid #228fa7;
		margin: 0 0 35px;
	}
	#header .header-after {}
		.header-after .menu-wrapper {
			min-width: 1020px;
			height: 75px;
			margin: 0 0 30px;
			background-color: #3eafc9;
			border-bottom: 7px solid #1c8fa8;
		}
			.header-after .tabs {}
				.header-after .tabs .tab-nav {
					border: 0;
					overflow: hidden;
				}
						.header-after .tabs .tab-nav > li {
							display: block;
							position: relative;
							float: left;
							margin: 0;
							padding: 0 25px;
						}
							.header-after .tabs .tab-nav > li:before,
							.header-after .tabs .tab-nav > li:after {
								display: block;
								position: absolute;
								content: '';
								top: 0px;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 0 25px 25px;
								border-color: transparent transparent #3eafc9 transparent;
							}
							.header-after .tabs .tab-nav > li:before {
								left: 0px;
							}
							.header-after .tabs .tab-nav > li.red:before {
								display: none;
							}
							.header-after .tabs .tab-nav > li.blue:before {
								border-width: 0 25px 25px 0;
								border-color: transparent #3eafc9 transparent transparent;
							}
							.header-after .tabs .tab-nav > li.blue.active:before {
								border-width: 0 0 25px 25px;
								border-color: transparent transparent #3eafc9 transparent;
							}
							.header-after .tabs .tab-nav > li:after {
								right: 0px;
								border-width: 25px 0 0 25px;
							}
							.header-after .tabs .tab-nav > li.red:after {
								border-width: 25px 25px 0 0;
								border-color: #d7473e transparent transparent transparent;
							}

							.header-after .tabs .tab-nav > li.red.active:after {
								border-width: 25px 0 0 25px;
								border-color: transparent transparent transparent #d7473e;
							}
							.header-after .tabs .tab-nav > li.blue:after,
							.header-after .tabs .tab-nav > li.blue.active:after {
								border-width: 25px 0 0 25px;
								border-color: transparent transparent transparent #3eafc9;
							}
						.header-after .tabs .tab-nav > li.red {
							padding: 0 25px 0 0;
							margin: 0 -25px 0 0;
						}
						.tab-nav > li.red > a,
						.tab-nav > li.active.red > a {
							background: #d7473e;
							border: 0;
						}
						.tab-nav > li.blue > a,
						.tab-nav > li.active.blue > a {
							background: #3eafc9;
							border: 0;
						}
						.header-after .tab-nav > li > a,
						.header-after .tab-nav > li.active > a {
							display: block;
							position: relative;
							height: 25px;
							font-weight: 400;
							line-height: 25px;
							text-shadow: none;
							color: #fff;
							border-radius: 0;
						}
				.header-after .tabs .tab-content {
					padding: 0px;
				}
		.header-after .menu-wrapper.red {
			background-color: #d7473e;
			border-bottom: 7px solid #cc3b32;
		}
	.block-commerce-search-autocomplete {
		height: 68px;
	}
	.block-commerce-search-autocomplete,
	.block-commerce-search-autocomplete a {
		color: #fff;
	}
		.block-commerce-search-autocomplete form {
			position: relative;
			float: left;
			margin: 0;
		}
		.block-commerce-search-autocomplete .container-inline div { display: block; }
		.block-commerce-search-autocomplete .container-inline,
		.block-commerce-search-autocomplete .field { 
			position: relative; 
			width: 420px; 
			overflow: visible;
			margin: 12px 25px 3px 0;
		}
		.block-commerce-search-autocomplete button.medium,
		.block-commerce-search-autocomplete button.medium:hover {
			position: absolute;
			top: 14px;
			left: 385px;
			width: 35px;
			height: 30px;
			border: 0px;
			margin: 0;
			background: url('../images/content/search.png') center center no-repeat;
			-webkit-box-shadow: none;
			box-shadow: none;
			cursor: pointer;
		}
		.block-commerce-search-autocomplete .parts-search-example {
			font-size: 0.9285em;
			line-height: 1.5em;
		}
			.block-commerce-search-autocomplete .parts-search-example span {
				line-height: 1em;
				border-bottom: 1px dashed #fff;
				cursor: pointer;
			}
			.block-commerce-search-autocomplete .parts-search-example span:hover {
				border: 0;
			}
		.block-commerce-search-autocomplete .extended-parts-search {
			padding: 16px 0 0;
		}
			.block-commerce-search-autocomplete .extended-parts-search a {
				font-size: 1.0714em;
				text-decoration: underline;
			}
			.block-commerce-search-autocomplete .extended-parts-search a:hover {
				text-decoration: none;
			}

		.block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-input,
		.block-commerce-search-autocomplete input[type="text"] {			
			background-image: none;
			height: 32px;
			line-height: 32px;
		}
		body .block-commerce-search-autocomplete .ui-theme-basic-blue.ui-autocomplete-loading {
			position: relative;
			background-image: url('../images/content/ajax-loader.gif');			
			background-position: 97% center;
			background-repeat: no-repeat;
			z-index: 1;
		}
		.block-commerce-search-autocomplete .ui-autocomplete {
			width: 420px !important;
			margin: -11px 0 0 !important;
			border: 0;
			border-radius: 0 0 5px 5px;
		}
		.block-commerce-search-autocomplete button.medium:active {			
			-webkit-transform: translate(0,0);
			-moz-transform: translate(0,0);
			-o-transform: translate(0,0);
			-ms-transform: translate(0,0);
			transform: translate(0,0);
		}
		.block-commerce-search-autocomplete input[type="submit"]:focus {
			outline: 0px;
		}
	.block-commerce-cart {
		position: relative;
		background-color: #d7473e;
		width: 195px;
		height: 90px;
		float: right;
		border-top: 10px solid #cc3b32;
		border-bottom: 10px solid #cc3b32;
		margin: -10px 0;
	}
		.block-commerce-cart:after {
			display: block;
			content: '';
			position: absolute;
			bottom: -4px;
			left: 20px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 4px 0 4px;
			border-color: #d7473e transparent transparent transparent;
		}
	.block-commerce-cart,
	.block-commerce-cart a {
		color: #fff;
	}
	.block-commerce-cart a:hover {
		text-decoration: underline;
	}
		.block-commerce-cart .icon {
			width: 50px;
			float: left;
			background: url('../images/content/basket-icon.png') center 20px no-repeat;
			height: 70px;
		}
		.block-commerce-cart .body,
		.block-commerce-cart .cart-empty-block {
			padding: 15px 20px 0 0;
			margin-left: 50px;
			font-size: 0.9285em;
			overflow: hidden;
		}
			.block-commerce-cart .body .count {
				border-bottom: 1px solid #df6c65;
			}
			.block-commerce-cart .body .total {
				white-space: nowrap;
			}

		.block-biglogo {
			position: relative;
			width: 520px;
			float: left;
			text-align: right;
			margin: 0 20px 0 0;
			z-index: 6;
		}
		.block-callback,
		.block-contacts {
			position: relative;
			width: 220px;
			float: left;
			padding: 30px 0 0;
			z-index: 6;
		}
		.block-contacts {
			text-align: right;
		}
			.block-contacts .phone {
				font-size: 1.2857em;
				font-weight: 700;
				line-height: 1em;
				margin: 0 0 15px;
			}
			.block-contacts .mail {
				line-height: 1em;
			}
		.block-slider {
			position: relative;
			z-index: 5;
			height: 310px;
			overflow: hidden;
			clear: both;
			top: -120px;
			margin-bottom: -100px;
		}
			.no-js .block-slider {
				overflow: hidden;
			}
			.slide-content {
				padding: 115px 0 0 115px;
			}
				.block-slider .left {
					width: 550px;
					float: left;
				}
					.block-slider .read-more {
						margin: 0 0 20px;
					}
				.block-slider .right {
					width: 430px;
					float: left;
				}
				.block-slider .right .slide-image {
					padding-right: 30px;
				}
			.slide-title {
				font-size: 2.5714em;
				font-weight: 700;
				line-height: 1em;
				margin: 0 0 20px;
				color: #393939;
				text-transform: uppercase;
			}
				.slide-text .button.red {
					margin-right: 10px;
				}
				.block-slider .view-footer .prev,
				.block-slider .view-footer .next {
					position: absolute;
					top: 50%;
					width: 55px;
					height: 55px;
					background-color: #f0f0f0;
					background-image: url('../images/content/sprites.png');
					background-position: 0px 0px;
					background-repeat: no-repeat;
					cursor: pointer;
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					z-index: 999;
				}
				.block-slider .view-footer .prev {
					left: 0px;
					background-position: 18px -33px;
				}
				.block-slider .view-footer .next {
					right: 0px;
					background-position: -60px -33px;
				}
				.block-slider .view-footer .prev:hover {
					background-color: #d7473e;
					background-position: 18px 13px;
				}
				.block-slider .view-footer .next:hover {
					background-color: #d7473e;
					background-position: -60px 15px;
				}
				.block-slider .view-footer .navigation {
					position: absolute;
					right: 0px;
					bottom: 30px;
					z-index: 99;
				}
					.block-slider .view-footer .navigation a {
						display: inline-block;
						*display: inline;
						width: 8px;
						height: 8px;
						overflow: hidden;
						margin: 0 0 0 5px;
						background: transparent;
						border: 2px solid #333333;
						border-radius: 50%;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						zoom: 1;
					}
					.block-slider .view-footer .navigation a.activeSlide {
						background: #f05d54;
						border: 2px solid #f05d54;
					}
	.not-front #header .header { 
		height: auto;
		min-height: 145px;	
	}
	.navbar-main,
	.navbar-manufacturer {
		width: 800px !important;
	}
	.navbar-main ul li,
	.navbar-manufacturer ul li {
		display: block;
		float: left;
	}
	.navbar.navbar-main ul li a,
	.navbar.navbar-manufacturer ul li a {
		background: none;
		height: 68px;
		padding: 5px 17px 0;
		line-height: 1.7em;
		font-size: 1.2857em;
		text-transform: uppercase;		
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
		.navbar-main ul li a span,
		.navbar-manufacturer ul li a span {
			text-decoration: underline;
		}
		.navbar-main ul li li a span,
		.navbar-manufacturer ul li li a span {
			text-decoration: none;
		}
		.navbar-main ul li a .icon,
		.navbar-manufacturer ul li a .icon {
			display: block;
			margin: 0px;
			line-height: 1em;
			height: 34px;
		}
		.navbar-main ul li > a.dong-feng .icon,
		.navbar-manufacturer ul li > a.dong-feng .icon {
			vertical-align: -2px;
		}
		.navbar-main ul li > a.shaanxi .icon,
		.navbar-manufacturer ul li > a.shaanxi .icon {
			vertical-align: -2px;
		}
		.navbar-main ul li > a.faw .icon,
		.navbar-manufacturer ul li > a.faw .icon {
			vertical-align: 0px;
		}
		.navbar-main ul li > a.foton .icon,
		.navbar-manufacturer ul li > a.foton .icon {
			vertical-align: 0px;
		}
		.navbar-main ul li > a.howo .icon,
		.navbar-manufacturer ul li > a.howo .icon {
			vertical-align: -3px;
		}
		.navbar-main ul li > a.camc .icon,
		.navbar-manufacturer ul li > a.camc .icon {
			vertical-align: 1px;
		}

			.navbar.navbar-main .dropdown,
			.navbar.navbar-manufacturer .dropdown,
			.gumby-no-touch .navbar.navbar-main ul li:hover .dropdown,
			.gumby-no-touch .navbar.navbar-manufacturer ul li:hover .dropdown {
				position: absolute;
				display: none;
				left: 0px;
				width: 980px;
				height: auto;
				max-width: 980px;
				padding: 45px 0 20px;
				background: #1c8fa8;
				border: 0px;
				color: #fff;
			}
			.navbar.navbar-main ul li.active .dropdown,
			.navbar.navbar-manufacturer ul li.active .dropdown {
				-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
				box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
			}
			.navbar.navbar-main li.active > .dropdown,
			.navbar.navbar-manufacturer li.active > .dropdown,
			.gumby-no-touch .navbar.navbar-main ul li.active:hover .dropdown,
			.gumby-no-touch .navbar.navbar-manufacturer ul li.active:hover .dropdown {
				display: block;
			}
				.navbar.navbar-main .dropdown a,
				.navbar.navbar-manufacturer .dropdown a,
				.navbar.navbar-main .dropdown li,
				.navbar.navbar-manufacturer .dropdown li {
					color: #fff;
					height: auto;
					font-size: 1rem;
					float: left;
					line-height: 30px;
					text-transform: none;
					width: auto;
					border: 0px;
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;
				}
				.navbar.navbar-main .dropdown li,
				.navbar.navbar-manufacturer .dropdown li {
					width: 204px;
				}
				.navbar.navbar-main .dropdown .level-two li,
				.navbar.navbar-manufacturer .dropdown .level-two li {
					width: 165px;
				}
				.gumby-no-touch .navbar.navbar-main ul li li a,					
				.gumby-no-touch .navbar.navbar-manufacturer ul li li a {					
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
				}
				.gumby-no-touch .navbar.navbar-main ul li:hover li a:hover,
				.gumby-no-touch .navbar.navbar-manufacturer ul li:hover li a:hover {
					background: #2a98b9;
				}
				.gumby-no-touch .navbar.navbar-main ul li span.link,
				.gumby-no-touch .navbar.navbar-manufacturer ul li span.link {
					position: relative;
					display: table;
					margin: 0 0 10px;
					z-index: 3;
				}
					.gumby-no-touch .navbar.navbar-main ul li span.link a,
					.gumby-no-touch .navbar.navbar-manufacturer ul li span.link a {
						font-size: 1.2857rem;
						text-decoration: underline;
					}
				.navbar.navbar-main ul li.level-two,
				.navbar.navbar-manufacturer ul li.level-two {
					width: 50%;
					border-right: 1px solid #198299;
				}
				.navbar.navbar-main ul li.level-two.last,
				.navbar.navbar-manufacturer ul li.level-two.last {
					border: 0;
				}
				.dropdown .row {
					padding: 0px;
				}
				.dropdown ul {}
				.dropdown ul ul {
					clear: both;
				}
					.dropdown ul li {}
						.navbar.navbar-main li .dropdown .dropdown,
						.navbar.navbar-manufacturer li .dropdown .dropdown {
							background: transparent;
							display: block;
							position: relative;
							left: 0px;
							top: 10px;
							padding: 0px;
							width: auto;
							height: auto;
							box-shadow: none;
							-moz-box-shadow: none;
							-webkit-box-shadow: none;
							border: 0px;
						}
						.dropdown ul li a {}
					.dropdown .two-columns .header {
						width: 50%;
						float: left;
					}
						.dropdown .two-columns .header .row {
							padding: 0px;
						}
							.dropdown .two-columns .header .row ul {
								float: left;
							}
	.gumby-no-touch .navbar-main ul li:hover a,
	.gumby-no-touch .navbar-main ul li a.active {
		background: #1c8fa8;
	}
	.gumby-no-touch .navbar-manufacturer ul li:hover a,
	.gumby-no-touch .navbar-manufacturer ul li a.active {
		background: #1c8fa8;
	}
	.gumby-no-touch .navbar-main ul li.active > a,
	.gumby-no-touch .navbar-manufacturer ul li.active > a {
		background: #1c8fa8;
	}
	.header-after .pull-right { padding: 20px 0 0;}
/*
		Before content
*/
.block.banners {
	background: #f0f0f0;
	padding: 20px 0 25px;
	margin: 0 0 60px;
}
	.block.banners .views-row {
		position: relative;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.block.banners .views-row:hover {
		opacity: 0.7;
	}
		.block.banners .views-row:before {
			position: absolute;
			display: block;
			content: '';
			top: 5px;
			left: -7px;
			width: 100%;
			height: 100%;
			background: #dcdcdc;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
		.block.banners .views-row .views-field-field-image { position: relative;}
			.block.banners .views-row .views-field-field-image img {
				display: block;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
		.block.banners .views-row .views-field-body {
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 175px;
			background: #afafaf;
			color: #fff;
			padding: 5px;
			line-height: 1.1428em;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.block.recently-buy {
	margin: 0 0 75px;
}
	.block.recently-buy .block-title {
		width: 100%;
		max-width: 1020px;
		min-width: 320px;
		margin: 0 auto 45px;
		padding-left: 20px;
		padding-right: 20px;
		color: #3eafc9;
		font-size: 1.7142em;
	}
	.block.recently-buy .views-field-field-image {
		float: left;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-webkit-box-shadow: -4px 3px 0 0 #dcdcdc;
		box-shadow: -4px 3px 0 0 #dcdcdc;
	}
		.block.recently-buy .views-field-field-image img {
			display: block;
		}	

	.block.recently-buy .views-field-title {
		line-height: 1.5em;
		margin: 0 0 5px;
	}
	.block.recently-buy .views-field-title,
	.block.recently-buy .views-field-sku,
	.block.recently-buy .views-field-field-sku {
		margin-left: 165px;
	}

/*
		Content
*/
#content {
	margin: 0 0 70px;
}
#content.with-sidebar {
	width: 720px;
	float: left;
}
.page-news .node-news.node-teaser {
	margin: 0 0 35px;
	border-bottom: 1px solid #dcdcdc;
}
	.page-news .view-news .views-row {
		clear: both;
	}
	.node-news .news-date {
		font-size: 0.8571em;
		color: #afafaf;
		margin: 0 0 25px;
	}
	.node-type-news .news-date { margin: 0 0 35px; }
	.news-body .field-name-field-image .field-item {
		float:left;
		margin: 0 15px 15px 0;
	}
	.page-news .node-news.node-teaser .news-image {
		float: left;
		height: 140px;
		margin: 0 25px 22px 0;
		-webkit-border-radius: 4px; 
		-moz-border-radius: 4px; 
		-ms-border-radius: 4px; 
		-o-border-radius: 4px; 
		border-radius: 4px; 
		-webkit-box-shadow: -4px 4px 0 4px rgba(220,220,220,1);
		box-shadow: -4px 4px 0 4px rgba(220,220,220,1);
	}
	.page-news .node-news.node-teaser .news-title {
		font-size: 1.2857em;
		margin: 0 0 20px;
	}
	.news-pager {
		padding: 35px 0 0;
		border-top: 1px solid #dcdcdc;
	}
		.news-pager a { 
			display: inline-block; 
			*display: inline;
			height: 22px; 
			line-height: 22px; 
			vertical-align: top; 
		} 
		.news-pager a.prev {margin: 0 25px; } 
		.news-pager a.next {margin: 0 25px; } 
		.news-pager a.prev i {margin: 0 0 0 20px; } 
		.news-pager a.next i {margin: 0 20px 0 0; } 
	/* Contacts page */
	.view-id-contacts {}
		.view-id-contacts table { border: 0px; margin: 0 0 50px; }
			.view-id-contacts table thead { background: none; color: #595959;}
				.view-id-contacts table thead th { border: 0px; font-size: 0.7857em; font-weight: 400; padding: 0 10px; }
				.view-id-contacts table tr.even, 
				.view-id-contacts table tr.odd {
					background-color: #fff;
					border-bottom: 1px solid #dcdcdc;
				}
				.view-id-contacts table tr.even {
					border-bottom: 2px solid #B5B1B1;
				}
					.view-id-contacts table tr td {
						border: 0px;
						font-weight: normal;
						vertical-align: bottom;
						font-size: 0.9285em;
						line-height: 24px;
						padding-top: 20px;
					}
					.view-id-contacts table tr td.views-field-field-working-mode {
						padding-top: 10px;
					}
					.view-id-contacts table tr td.views-field-field-address {
						vertical-align: top;
					}
					.view-id-contacts table tr .views-field-field-address {
						padding-left: 0px;
						width: 310px;
					}
						td.views-field-field-address .city {
							color: #d7473e;
							font-weight: bold;
							font-size: 1.1538em;
							margin: 0 0 5px;
						}
			.view-id-contacts .view-footer {
				font-size: 0.9285em;
				line-height: 1.6923em;
			}
	.view-id-map {
		margin: 0 0 45px;
	}
		.gmap-popup {
			color: #000;
			font-size: 10px;
		}
		.gmap-popup .address,
		.gmap-popup .phone {
			font-size: 12px;
			margin: 0 0 10px;
		}
.front .node h2 {
	font-size: 15px;
	color: #d7473e;
	font-weight: 700;
}
.message-ok {
	position: relative;
}
	.message-ok .image {
		position: relative;
		width: 145px;
		height: 110px;
		padding: 25px 0 0;
		float: left;
		text-align: center;
	}
		.message-ok .image:before {
			position: relative;
			content: '';
			display: inline-block;
			*display: inline;
			width: 61px;
			height: 55px;
			background: url('../images/content/ok.png') 0px 0px no-repeat;
			zoom: 1;
		}
	.product-message-ok .image {
		float: none;
		width: auto;
		text-align: center;
		height: 95px;
		padding: 5px 0 0;
		margin: 0px;
	}
	.product-message-ok .message {
		font-size: 1.7142em;
		line-height: 1em;
		color: #393939;
		text-align: center;
		margin: 0 0 20px;
	}
	.product-message-ok .continue {
		line-height: 1em;
		margin: 0 0 20px;
	}
		.product-message-ok .continue a {
			text-decoration: underline;
		}
		.product-message-ok .continue a:hover {
			text-decoration: none;
		}
	.message-ok .content {
		margin-left: 145px;
		padding: 20px 0 0;
		color: #393939;
		line-height: 30px;
	}
		.message-ok .content .title {
			font-size: 1.7142em;
		}
		.message-ok .content .message {
			font-size: 1.1428em;
		}
/* Brand page */
.content-title {
	margin: 0 0 25px;
	text-transform: uppercase;
}
/*.page-parts-group .content-title {
	margin: 0 0 25px;
	text-transform: uppercase;
}*/
.view-parts-group {}
	.view-parts-group .views-row {
		position: relative;
		display: inline-block;
		*display: inline;
		text-align: center;
		width: 192px;
		vertical-align: top;
		padding: 0 10px 0;
		margin: 0 0 60px;
		zoom: 1;
	}
		.view-parts-group .views-field-field-image {
			height: 70px;
		}
			.view-parts-group .views-field-field-image .field-content {
				display: table-cell;
				width: 172px;
				height: 70px;
				vertical-align: middle;
				overflow: hidden;
			}
		.view-parts-group .views-field-name {}
			.view-parts-group a {
				display: block;
				padding: 3px 10px;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			}
			.view-parts-group a,
			.view-parts-group a img {			
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;				
			}
			.view-parts-group .views-row:hover .views-field-name a {
				background: #f0f0f0;
				color: #3eafc9;
			}
				.view-parts-group .views-row:hover a img {
					opacity: 0.8;
				}
				.view-parts-group a span {
					text-decoration: underline;
				}
				.view-parts-group .views-row:hover a span {
					text-decoration: none;
				}
	.catalog-tabs {
		text-align: center;
		margin: 0 0 40px;
	}
		.catalog-tabs li,
		.catalog-tabs li a {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}
		.catalog-tabs li {
			margin: 0 20px 0;
		}
			.catalog-tabs li a {
				opacity: 0.6;
				height: 85px;
				padding: 25px 0 0 120px;
				background: url('../images/content/cars/foton.png') 0px 0px no-repeat;
				background-size: 100px auto;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
			.catalog-tabs li a.active,
			.catalog-tabs li a:hover {
				opacity: 1;
			}
			.catalog-tabs li.catalog-tabs-term-22 a {
				background-position: 0px -158px;
			}
			.catalog-tabs li.catalog-tabs-term-29 a {
				background: url('../images/content/cars/howo.png') 0px 0px no-repeat;
				background-size: 100px auto;
				background-position: 0px -167px;
			}
			.catalog-tabs li.catalog-tabs-term-17 a {
				background: url('../images/content/cars/howo.png') 0px 0px no-repeat;
				background-size: 100px auto;
				background-position: 0px 7px;
			}

/* Detail page */
.node-detail {}
	.view-display-id-page_grid .view-content {
		clear: both;
	}
		.view-display-id-page_grid .view-content .three .node {
			height: 150px;
			margin: 0 0 40px;
		}
	.node-detail .left {
		width: 370px;
		float: left;
	}
		.node-detail .left .field-type-image a {
			position: relative;
			display: table-cell;
			width: 100%;
			height: 330px;
			vertical-align: middle;
			border-left: 4px solid #dcdcdc;
			border-bottom: 4px solid #dcdcdc;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
		.node-detail .left .field-type-image img {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}
	.node-detail .right {
		width: 320px;
		float: right;
	}
		.node-detail .field-label {
			margin: 0 0 10px;
		}
		#content .node-detail .field-name-body {
			min-height: 100px;
			background: #f0f0f0;
			padding: 20px 25px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
		.field-name-field-youtube .field-item {
			height: 190px;
			padding: 10px 0 0;
			text-align: center;
			background: #f0f0f0;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
			.field-name-field-youtube .field-item a {
				display: block;
				position: relative;
			}
				.field-name-field-youtube .field-item a:before {
					position: absolute;
					display: block;
					content: '';
					top: 50%;
					left: 50%;
					width: 65px;
					height: 50px;
					margin: -25px 0 0 -32.5px;
					background: #3eafc9;
					border-radius: 8px;
					-moz-border-radius: 8px;
					-webkit-border-radius: 8px;
					opacity: 0.5;
				}
				.field-name-field-youtube .field-item a:after {
					position: absolute;
					display: block;
					content: '';
					top: 50%;
					left: 50%;
					width: 0;
					height: 0;
					margin: -15px 0 0 -7.5px;
					border-style: solid;
					border-width: 15px 0 15px 15px;
					border-color: transparent transparent transparent #ffffff;
				}
		.price-table .view-content {
			padding: 10px 0 0;
			background: #f0f0f0;
			margin: 0 0 50px;
			overflow: visible;
		}
			.price-table .view-content .field-label {
				margin: 0 15px 15px;
				font-weight: normal;
			}
			.price-table .view-content table,
			.price-table .view-content table * {
				background: transparent;
				border: 0px;
				margin: 0;
				padding: 0;
			}
				.price-table .view-content table td {
					position: relative;
					min-height: 74px;
					padding: 18px 15px;
					color: #333;
				}
				.price-table .view-content table td.views-field-field-image {
					padding: 0;
				}
					.price-table .view-content table td.views-field-field-image img {
						max-width: 150px;	
					}
					.price-table .view-content table td form {
						position: relative;
						width: 100px;
					}
						.price-table .view-content table td .ajax-progress {
							position: absolute;
							right: 10px;
							top: 10px;
						}
				td.views-field-field-text-stock {
					width: 78px;
				}
					td.views-field-field-text-stock div {
						width: 48px;
						overflow: visible;
					}
					.page-search td.views-field-product-linked-title div {
						width: 120px;
						overflow: hidden;
					}
				td.views-field-title {
					width: 260px;
				}
				td.views-field-field-sku,
				td.views-field-sku {
					width: 130px;
					white-space: nowrap;
					z-index: 99;
				}
					td.views-field-field-sku .overflow-hidden,
					td.views-field-sku .overflow-hidden {
						position: relative;
						width: 110px;
						overflow: hidden;						
					}
					td.views-field-field-sku .overflow-hidden:after,
					td.views-field-sku .overflow-hidden:after,					
					.page-search td table td.views-field-field-sku .overflow-hidden:after {
						position: absolute;
						display: block;
						content: '';
						width:1px;
						height: 100%;
						top: 0px;
						left: 100%;
						-webkit-box-shadow: 0px 0px 28px 12px rgba(240,240,240, 1);
						box-shadow: 0px 0px 28px 12px rgba(240,240,240, 1);
					}
						td.views-field-field-sku .overflow-hidden span,
						td.views-field-sku .overflow-hidden span {
							display: inline-block;
							*display: inline;
							background: #f0f0f0;
							padding: 0 10px 0 0;
							zoom: 1;
						}
					td.views-field-field-sku:hover .overflow-hidden,
					td.views-field-sku:hover .overflow-hidden,
					.page-search td table td.views-field-field-sku:hover .overflow-hidden {
						overflow: visible;
					}
					td.views-field-field-sku:hover .overflow-hidden:after,
					td.views-field-sku:hover .overflow-hidden:after,
					.page-search td table td.views-field-field-sku:hover .overflow-hidden:after {
						display: none;
					}
				.price-table .view-content table td.replacements-table,
				.page-search .price-table .view-content table td.views-field-view {
					padding: 0;
					border: 0;
				}
				.price-table .view-content table td.views-field-commerce-price {
					min-width: 115px;
					color: #d7473e;
					font-size: 1.1428rem;
				}
				.price-table .view-content tbody tr td {
					border-bottom: 1px solid #afafaf;
				}
				.price-table .view-content tbody tr td.views-field-field-text-stock {
					padding: 18px 0px;
					width: 30px;
				}
				.price-table .view-content tbody tr td.views-field-field-retail-price {
					color: #d7473e;
				}
				.price-table .view-content tbody tr.views-row-last {
					border: 0px;
				}
				.price-table .view-content table th {
					padding: 0 15px;
					font-size: 0.875rem;
					font-weight: 400;
					color: #c1c1c1;
				}
					.price-table .view-content .quantity {
						float: left;
					}
						.price-table .view-content .quantity input {
							width: 65px;
							background: #fff;
							padding: 0 10px;
						}
						.price-table .view-content .quantity label {
							display: none;
						}
					.views-field-add-to-cart-form {
						/*width: 140px;*/
						width: 135px;
					}
						.views-field-add-to-cart-form button.medium,
						.views-field-add-to-cart-form button.medium:hover  {
							float: right;
							width: 32px;
							height: 36px;
							overflow: hidden;
							text-indent: 9999px;
							background-color: #d7473e;
							background-image: url('../images/content/basket-icon.png');
							background-position: center center;
							background-repeat: no-repeat;
						}
				.price-table .view-content .field-text-stock {
					clear: both;
					padding: 20px 0 0;
					font-size: 0.875rem;
					font-weight: 400;
				}
				.price-table .view-content .field-text-stock .field-label {
					margin: 0 5px 0 0;
				}
		.node-detail.node-teaser .image {
			float: left;
		}
		.node-detail.node-teaser .image a {
			display: table-cell;
			width: 150px;
			height: 150px;			
			border-left: 4px solid #dcdcdc;
			border-bottom: 3px solid #dcdcdc;					
			vertical-align: middle;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
			.node-detail.node-teaser .image img {
				width: 100% !important;
				display: inline-block;
				*display: inline;				
				vertical-align: middle;
				zoom: 1;
			}
		.node-detail.node-teaser .body {
			margin-left: 165px;
			padding: 0;
			text-align: left;
		}
			.node-detail.node-teaser .body .title {
				height: 80px;
				margin: 0 0 10px;
				overflow: hidden;
			}
			.minimal-price {
				color: #d7473e;
			}
			.node-detail.node-teaser .body .minimal-price:after {
				display: inline;
				/*content: 'руб.';*/
			}
	.view-display-id-similar {
		margin: 0 0 100px;
	}
	.view-id-details {}
		.view-id-details .view-header,
		.view-id-parts.price-table .view-header {
			border-bottom: 2px solid #afafaf;
		}
			.view-id-parts.price-table .view-header h1 {
				margin: 0 0 25px;
			}
			.view-id-details .view-header h2 a {
				color: #3eafc9;
			}			
		.view-display-id-page_grid .view-header {
			margin: 0 0 60px;
		}
	.view-details {}
		.view-details table,
		.view-details table *,
		.view-details table thead tr {
			background: transparent;
			border: 0px;
			padding: 0px;
			line-height: 1.5em;
		}
			.view-details table tr {
				border-bottom: 1px solid #afafaf;
			}
				.view-details table thead th {
					color: #afafaf;
					font-weight: normal;
				}
				.view-details table tr th,
				.view-details table tr td {
					padding: 15px;					
				}
				.view-details table tr td {
					font-weight: 400;
				}
				.view-details table tr td.views-field-field-image {
					width: 150px;
					padding: 0;
				}
				.view-details table tr td.minimal.price {
					width: 95px;
				}
					.view-details table tr td.views-field-title a,
					.node-detail.node-teaser .body .title a,
					.price-table .view-content tbody tr td a,
					.block.recently-buy .views-field-title a,
					.under-content-carousel .node-news .news-title a,
					.page-news .node-news.node-teaser .news-title a,
					.block-contacts .mail a,
					.view-commerce-cart-summary table td a, 
					.view-id-commerce_cart_form table td a {
						text-decoration: underline;
					}
					.view-details table tr td.views-field-title a:hover,
					.node-detail.node-teaser .body .title a:hover,
					.price-table .view-content tbody tr td a:hover,
					.block.recently-buy .views-field-title a:hover,
					.under-content-carousel .node-news .news-title a:hover,
					.page-news .node-news.node-teaser .news-title a:hover,
					.block-contacts .mail a:hover,
					.view-commerce-cart-summary table td a:hover, 
					.view-id-commerce_cart_form table td a:hover {
						text-decoration: none;
					}
					.view-details table tr td.views-field-field-sku ul,
					.view-details table tr td.views-field-field-sku ul li {
						padding: 0px;
						margin: 0px;
					}
				.view-details table tr .views-field-field-part-reference-1 {
					width: 105px;
				}
				.view-details table tr .views-field-field-part-reference {
					font-weight: normal;
				}
					.view-details table tr .views-field-field-part-reference .first {
						font-weight: bold;
					}
					.view-details table tr .views-field-field-part-reference .item-list ul,
					.view-details table tr .views-field-field-part-reference .item-list ul li {
						margin: 0px;
						padding: 0px;
					}
			.view-details table tr .views-field-field-image {}
				.views-field-field-image i,
				.price-table .view-content table .views-field-field-image i,
				.view-commerce-cart-summary table .views-field-field-image i {
					position: relative;
					display: block;
					width: 27px;
					height: 22px;
					background: url('../images/content/image_sprite.png') -41px 0px no-repeat;
				}
				.views-field-field-image i:hover,
				.price-table .view-content table .views-field-field-image i:hover,
				.view-commerce-cart-summary table .views-field-field-image i:hover {
					opacity: 0.8;
				}
				.views-field-field-image i.empty,
				.price-table .view-content table .views-field-field-image i.empty,
				.view-commerce-cart-summary table i.empty-image,
				.view-commerce-cart-summary table .views-field-field-image i.empty {
					background-position: 0px 0px;
				}
		.view-replacements {
			position: relative;
		}
			.field-name-field-availability {
				overflow: visible;
			}
			.price-table .view-content table .view-replacements .view-label {
				display: inline-block;
				position: absolute;
				width: auto;
				height: 28px;
				line-height: 28px;
				background: #3eafc9;
				color: #fff;
				bottom: 0px;
				left: 0px;
				text-align: right;
				border-radius: 5px 5px 0 0;
				padding: 0px 15px;
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
				transform-origin: bottom left;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				zoom: 1;
			}
			.touch .price-table .view-content table .view-replacements .view-label {
				display: none;
			}
	.views-exposed-widgets {
		background: #f0f0f0;
		padding: 15px 0 20px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
		.views-exposed-widgets label {
			line-height: 1em;
			color: #838383;
			font-weight: normal;
		}
		.views-exposed-form .views-widget-filter-combine,
		.views-exposed-form .views-widget-filter-field_parts_group_reference_tid {
			width: 50%;
			height: 80px;
			border-bottom: 1px solid #dcdcdc;
		}
		.views-exposed-form .views-widget-filter-combine {
			width: 50%;
			padding: 0 20px 20px 15px;
		}
		.page-parts-group .views-exposed-form .views-widget-filter-combine {
			width: 100%;
		}
		.views-exposed-form .views-widget-filter-field_parts_group_reference_tid + .views-widget-filter-combine {
			width: 50%;
		}
		.views-exposed-form  .views-widget-filter-field_parts_group_reference_tid {
			padding: 0 55px 0 30px;
		}
		.page-parts-group .views-exposed-form  .views-widget-filter-field_parts_group_reference_tid {
			display: none;
		}
			.views-exposed-form  .views-widget-filter-field_parts_group_reference_tid select {
				width: 100%;
			}
		.views-exposed-form .views-exposed-widget.views-submit-button {
			height: 72px;
			float: right;
			padding: 40px 20px 0;
		}
	.display-modes { 
		float: right; 
		vertical-align: top;
	}
		.display-modes ul,
		.display-modes ul li {
			margin: 0px;
			padding: 0px;
		}
			.display-modes ul li {
				float: right;
			}
				.display-modes ul li a,
				.display-modes ul li span {
					display: block;
					width: 50px;
					height: 30px;
					overflow: hidden;
					text-indent: 999px;
					background-image: url('../images/content/display_modes.png');
					background-position: 0px 0px;
					background-repeat: no-repeat;
				}
				.display-modes ul li span {
					background-color: #3eafc9;
				}
				.display-modes ul li a {
					background-color: #f0f0f0;
					color: #fff;
				}
				.display-modes ul li.list span,
				.display-modes ul li.list a {
					border-radius: 4px 0 0 4px;
					background-position: 10px -22px;
				}
				.display-modes ul li.list a {
					border-right: 1px solid #afafaf;
					background-position: 10px 7px;
				}
				.display-modes ul li.grid span,
				.display-modes ul li.grid a {
					border-radius: 0 4px 4px 0;
					background-position: -42px -22px;
				}
				.display-modes ul li.grid a {
					border-left: 1px solid #afafaf;
					background-position: -42px 7px;
				}
	/* 404 page */
	.page404 {
		min-height: 250px;
	}
		.message404 {}
			.message404 .image {
				position: relative;
				width: 200px;
				height: 188px;
				float: left;
				background: url('../images/content/foton.png') 0px 0px no-repeat;
				margin: 0 40px 20px 0;
			}
			.message404 .title {
				font-size: 1.5714em;
				margin: 0 0 10px;
				padding: 30px 0 0;
			}
			.message404 .text {
				margin: 0 0 30px;
			}
			.message404 .links ul,
			.message404 .links ul li {
				margin: 0px;
				padding: 0px;
			}
				.message404 .links ul li {
					float: left;
					margin: 0 15px 0 0;
					text-transform: uppercase;
				}
	/* checkout page */
	.view-commerce-cart-summary {
		background: #f0f0f0;
	}
	.view-commerce-cart-summary table,
	.view-commerce-cart-summary thead,
	.view-commerce-cart-summary table tr,
	.view-commerce-cart-summary table td,
	.view-commerce-cart-summary table th,
	.view-id-commerce_cart_form table,
	.view-id-commerce_cart_form thead,
	.view-id-commerce_cart_form table tr,
	.view-id-commerce_cart_form table td,
	.view-id-commerce_cart_form table th {
		border: 0px;
		padding: 0px;
		margin: 0;
		background: transparent;
	}
		.view-commerce-cart-summary table tr,
		.view-id-commerce_cart_form table tr,
		.entity-commerce-order .field-name-commerce-line-items table tr {
			border-bottom: 1px solid #dcdcdc;
		}
			.view-commerce-cart-summary table td,
			.view-id-commerce_cart_form table td,
			.entity-commerce-order .field-name-commerce-line-items table td {
				padding: 15px 12px;
			}
				.view-id-commerce_cart_form table td.views-field-edit-delete {
					width: 102px;
				}
				td.price,
				.view-commerce-cart-summary table td.views-field-commerce-total,
				.view-id-commerce_cart_form table td.views-field-commerce-total,
				.view-id-commerce_cart_form .line-item-total-raw {
					color: #d7473e;
				}
			.view-commerce-cart-summary table th,
			.view-id-commerce_cart_form table th,
			.entity-commerce-order .field-name-commerce-line-items table th {
				padding: 15px 12px 2px;
				font-weight: 400;
			}
			.view-commerce-cart-summary table th,
			.view-id-commerce_cart_form table th,
			.entity-commerce-order .field-name-commerce-line-items table th {
				color: #838383;
			}
	.view-commerce-cart-summary .view-footer table tr {
		border: 0px;
	}
		.view-commerce-cart-summary .view-footer table tr td {
			padding: 10px 0 15px;
		}
		.view-commerce-cart-summary .view-footer table tr td.component-title {
			font-weight: normal;
		}
		.view-commerce-cart-summary .view-footer table tr td.component-total {
			font-weight: normal;
			text-align: left;
			color: #d7473e;
		}		
	.checkout-review {
		background: #f0f0f0;
	}
		.checkout_review .field-label {
			font-weight: 400;
			color: #838383;
		}
		.checkout_review .field-items {
			font-weight: 400;
		}

	fieldset.cart_contents {
		margin: 0 0 15px;
	}

	table.checkout-review tr.pane-data td {
		font-weight: 400;
	}
		table.checkout-review tr.pane-data td label {
			color: #838383;
		}
		table.checkout-review tr.pane-data td .item,
		.page-checkout-review #content table.checkout-review tr.pane-data td .field {
			float:left;
			width: 200px;
			margin: 0 20px 0 0;
		}
		.page-checkout-review .field-name-field-shipping-address-build,
		.page-checkout-review .field-name-field-shipping-address-city,
		.page-checkout-review .field-name-field-shipping-address-office,
		.page-checkout-review .field-name-field-shipping-address-postcode,
		.page-checkout-review .field-name-field-shipping-address-street,
		.page-checkout-review .field-name-field-shipping-nomber-house {
			width: 120px !important;
			white-space: nowrap;
		}
		.page-checkout-review .field-name-commerce-order-total {
			width: 100% !important;
		}
		.page-checkout-review .field-name-commerce-customer-address,
		.page-checkout-review .field-name-field-file-form-field {
			display: none !important;
		}
		.page-checkout-review .field-name-field-shipping-address-build,
		.page-checkout-review .field-name-field-customer-manager {
			clear: both;
		}
	.page-checkout.page-checkout-review .field-name-field-fio {
		border: 0px;
	}

	/* User orders */
	.view-commerce-user-orders {}
		.view-commerce-user-orders table {
			background: #f0f0f0;
			border: 0;
		}
			.view-commerce-user-orders table thead {
				background-color: transparent;
			}
				.view-commerce-user-orders table thead th {
					color: #838383;
					border: 0;
					border-bottom: 1px solid #dcdcdc;
				}
				.view-commerce-user-orders table td {
					border-bottom: 1px solid #dcdcdc;
					padding: 20px 10px;
				}
				.view-commerce-user-orders table td.views-field-status {
					width: 160px !important;
				}
				.view-commerce-user-orders table tr.even.views-commerce-orders-table-highlighter-yellow {
					background: #ffb;
				}
				.view-commerce-user-orders table tr.odd.views-commerce-orders-table-highlighter-yellow {
					background: #ff9;
				}
				.view-commerce-user-orders table tr.odd.views-commerce-orders-table-highlighter-green {
					background: #e4eee1;
				}
				.view-commerce-user-orders table tr.even.views-commerce-orders-table-highlighter-green {
					background: #C1E0B7;
				}
				.view-commerce-user-orders table tr.even.views-commerce-orders-table-highlighter-red {
					background: #ddb9b6;
				}
				.view-commerce-user-orders table tr.odd.views-commerce-orders-table-highlighter-red {
					background: #ecd5d3;
				}
	.entity-commerce-order {}
		.entity-commerce-order .field {
			background: #f0f0f0;
			margin: 0;		
			padding: 20px 15px;	
			border-bottom: 1px solid #dcdcdc;	
		}
			.entity-commerce-order .field .field-label {
				color: #838383;
				font-weight: 400;
			}
		.entity-commerce-order .field-name-commerce-line-items,
		.entity-commerce-order .field-name-commerce-order-total {
			padding: 0;
			border: 0;
		}
			.entity-commerce-order .field-name-commerce-line-items table,
			.entity-commerce-order .field-name-commerce-line-items table *,
			.entity-commerce-order .field-name-commerce-order-total table,
			.entity-commerce-order .field-name-commerce-order-total table *,
			.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount
			 {
				background: #f0f0f0;
				border: 0;
				margin: 0;
			}
			.entity-commerce-order .field-name-commerce-order-total table {
				float: right;
			}
				.entity-commerce-order .field-name-commerce-order-total table .component-total,
				.entity-commerce-order .field-name-commerce-line-items table td.views-field-commerce-total {
					width: 120px;
					text-align: left;
					color: #d7473e;
				}
			.entity-commerce-order .field-name-commerce-line-items table th,
			.entity-commerce-order .field-name-commerce-line-items table td {
				text-align: left;
			}
			.entity-commerce-order .field-name-commerce-line-items table td.views-field-commerce-unit-price,
			.entity-commerce-order .field-name-commerce-line-items table td.views-field-commerce-total {
				color: #d7473e;				
			}
		.entity-commerce-order .field-name-commerce-order-total {
			margin: 0 0 20px;
		}


	/* cart page */
	.view-id-commerce_cart_form {}
		.view-id-commerce_cart_form table {
			background: #f0f0f0;
		}
		.view-id-commerce_cart_form .line-item-summary {
			text-align: left;
			padding: 10px 0 15px 795px;
			background: #f0f0f0;
		}
			.view-id-commerce_cart_form .line-item-summary table {
				border: 0;
			}
			.line-item-summary td {				
				font-weight: normal !important;
			}
			.line-item-total-raw {
				margin-left: 10px;
			}
			.view-id-commerce_cart_form .line-item-summary tr,
			.view-id-commerce_cart_form .line-item-summary td {
				border: 0px !important;
				text-align: left !important;
				padding: 0 !important;
			}
		.line-item-summary .line-item-total-label {
			font-weight: 400;
		}
		button.medium.delete-line-item,
		button.medium.delete-line-item:hover {
			width: 23px;
			height: 23px;
			background: url('../images/content/close.png') 0px 0px no-repeat;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
		.page-cart #content .form-actions {
			display: table;
			width: 100%;
			text-align: right;
			background: #f0f0f0;
			padding: 35px 20px;
		}
			.page-cart #content .form-actions button {
				display: inline-block;
				*display: inline;
				zoom: 1;
			}
			.page-cart #content .form-actions button#edit-submit {
				position: relative;
				border: 0px;
				box-shadow: none;
				background: transparent;
				color: #3eafc9;
				font-weight: normal;
				text-transform: none;
				height: auto;
				padding: 0 0 0 0;
				margin: 0 20px 0 40px;
				line-height: 1em;
				border-bottom: 1px solid #3eafc9;
				border-radius: 0px;
			}
			.page-cart #content .form-actions button#edit-submit:hover {
				border: 0px;
			}
			.page-cart #content .form-actions button#edit-submit:before {
				position: absolute;
				display: block;
				content: '';
				top: 0px;
				left: -18px;
				width: 15px;
				height: 15px;
				background: url('../images/content/refresh.png') 0px 0px no-repeat;
			}
	.page-user {}
		.page-user .system-information .tabs {
			float: right;
		}
			.page-user .system-information .tabs ul.primary {
				padding: 0px;
				margin: 0px;
				border: 0px;
			}
				.page-user .system-information .tabs li.active {
					display: none;
				}
				.page-user .system-information .tabs ul.primary li a {
					border: 0px;
					padding: 0px;
					background: none;
				}
		.page-user #content form {
			background: #f0f0f0;
			padding: 20px;
		}
			.page-user #content form > div {
				display: table;
				width: 100%;
			}
			.page-user #content form .field,
			.page-checkout .group-corporation-bank-data .field-name-field-corporation-bank-name .field {
				width: 320px;
				float: left;
				margin: 0 30px 0 0;
			}
			.page-user #content form .field.pass-pass1 .password-strength {
				margin-top: -10px;
			}
			.page-user #content form .field.password div.password-confirm{
				display: none;
			}
			.page-user-edit .password-suggestions,
			.page-user-edit .help-block,
			.page-user-edit #edit-locale {
				display: none !important;
			}
			.page-user-edit .form-actions {
				clear: both;
			}
			.page-user #content form .field.password {
				position: relative;
				margin: 0 0 20px;
				padding: 0;
				height: auto;
				float: none;
				overflow: visible;
				background: none;
				border: 0;
			}
			fieldset#edit-locale legend {
				width: 165px;
				top: 57px;
				left: -115px;
			}
			.page-user #content form .field.pass-pass1 .password-suggestions,
			.page-user #content form .field.pass-pass2 .password-suggestions {
				display: none;
			}
			.page-user-edit #content form .field {
				margin: 10px 30px 10px 0;
			}
			.page-user #content form .field.checkbox {
				width: 100%;
				margin: 0px;
			}
				.page-user #content form .field label{
					color: #9b9b9b;
					line-height: 1em;
				}
			.page-user #content form .form-actions {
				float: right;
			}
			.page-user-password #content form .form-actions {
				float: left;
				padding: 5px 0 0;
			}
				.page-user #content form .form-actions button.medium {
					width: 136px;
				}
				.page-user-password #content form .form-actions button.medium {
					width: auto;
				}
	#modalContent {
		position: fixed !important;
		top: 50% !important;
		margin: -290px 0 0;
	}
	.page-user-register #content form {
		padding: 0px;
		background: transparent;
	}
		/*.page-user-register #content form .form-wrapper {
			display: table;
			width: 100%;
			background: #f0f0f0;	
		}*/
		.page-user-register #content form .form-wrapper[id*="edit-account"],
		.page-user-register #content .field-type-phone,
		.page-checkout #content .field-type-phone,
		fieldset.group-shipping-address {
			display: table;
			width: 100%;
			background: #f0f0f0;			
			border-bottom: 1px solid #dcdcdc;
		}
		fieldset.group-corporation-bank-data,
		fieldset.group-corporation-data,
		fieldset.commerce_fieldgroup_pane__group_custom_info {
			background: #f6f6f6;
		}
		fieldset.group-shipping-address {
			padding-top: 30px;
			border: 0px;
			margin: 0 0 20px;
		}
		.page-checkout- fieldset.group-shipping-address {
			margin: 0;
		}
			.page-checkout fieldset legend {
				display: none;
			}
			.page-checkout fieldset.group-shipping-address legend,
			.page-checkout fieldset.group-corporation-bank-data legend,
			.page-checkout fieldset.group-corporation-data legend {
				display: block;
			}
			fieldset.group-shipping-address legend {
				position: absolute;
				margin: 0px;
				padding: 0px;
				top: 15px;
				left: 20px;
				text-align: left;
				font-size: 1rem;
				color: #838383;
				background: transparent;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
			}
			.field-type-list-boolean {
				display: table;
				width: 100%;
				background: #f6f6f6;
				padding: 20px 10px 15px 20px;
				border-bottom: 1px solid #dcdcdc;
			}
				.field-type-list-boolean input {
					margin: 0 10px 0 0;
				}
			fieldset.commerce_fieldgroup_pane__group_custom_info {
				margin: 20px 0 0;
			}
			.page-checkout- fieldset.commerce_fieldgroup_pane__group_custom_info {
				margin: 0;
			}
			.page-user-register #content form .form-wrapper[id*="edit-account"] .field,
			.page-user-register #content .field-type-phone .field,
			.page-checkout #content .field-type-phone .field,
			fieldset.group-shipping-address .field,
			fieldset.group-corporation-bank-data .field,
			fieldset.group-corporation-data .field,
			.page-user-register .wrapper .field-name-field-fio .field,
			.page-checkout .wrapper .field-name-field-fio .field,
			fieldset.commerce_fieldgroup_pane__group_custom_info .field,
			fieldset.account .account-login-mail,
			.page-user-register #content form .field.profile-select,
			.page-checkout- #account-login-container .field {
				padding: 20px 10px 15px 20px;
				margin: 0px;
			}
			.page-user-register #content form .field.profile-select {
				position: relative;
				width: 100%;
				background: #f0f0f0;
			}
				.page-user-register #content form .field.profile-select .ajax-progress {
					position: absolute;
					left: 370px;
					top: 50%;
				}
				.page-user-register #content form .field.profile-select select {
					width: 320px;
				}
				.page-user-register fieldset.group-shipping-address .field label,
				.page-checkout fieldset.group-shipping-address .field label,
				.page-user-register fieldset.group-corporation-data .field label,
				.page-checkout fieldset.group-corporation-data .field label {
					white-space: nowrap;
				}
			fieldset.group-shipping-address .field-name-field-shipping-address-postcode,
			fieldset.group-shipping-address .field-name-field-shipping-number-house,
			fieldset.group-shipping-address .field-name-field-shipping-address-build,
			fieldset.group-shipping-address .field-name-field-shipping-address-office {
				float: left;
			}
			.page-user #content form fieldset.group-shipping-address .field-name-field-shipping-number-house .field,
			.page-user #content form fieldset.group-shipping-address .field-name-field-shipping-address-build .field,
			.page-user #content form fieldset.group-shipping-address .field-name-field-shipping-address-office .field,
			.page-checkout #content form fieldset.group-shipping-address .field-name-field-shipping-number-house .field,
			.page-checkout #content form fieldset.group-shipping-address .field-name-field-shipping-address-build .field,
			.page-checkout #content form fieldset.group-shipping-address .field-name-field-shipping-address-office .field,
			.page-checkout #content form fieldset.group-corporation-data .field-name-field-corporation-house .field,
			.page-user #content form fieldset.group-corporation-data .field-name-field-corporation-house .field,
			.page-user #content form fieldset.group-corporation-data .field-name-field-corporation-build .field,
			.page-user #content form fieldset.group-corporation-data .field-name-field-corporation-office .field,
			.page-checkout #content form fieldset.group-corporation-data .field-name-field-corporation-office .field {
				width: 90px;
				margin: 0px;
			}
			.page-user #content form fieldset.group-corporation-data .field-name-field-corporation-build .field,
			.page-checkout #content form fieldset.group-corporation-data .field-name-field-corporation-build .field,
			.page-user #content form fieldset.group-shipping-address .field-name-field-shipping-address-build .field,
			.page-checkout #content form fieldset.group-shipping-address .field-name-field-shipping-address-build .field {
				width: 130px;
			}
				.page-user #content form fieldset.group-corporation-data .field-name-field-corporation-build .field input,
				.page-checkout #content form fieldset.group-corporation-data .field-name-field-corporation-build .field input,
				.page-user #content form fieldset.group-shipping-address .field-name-field-shipping-address-build .field input,
				.page-checkout #content form fieldset.group-shipping-address .field-name-field-shipping-address-build .field input {
					width: 55px;
				}
			.page-user #content form fieldset.group-shipping-address .field-name-field-shipping-address-postcode .field,
			.page-checkout #content form fieldset.group-shipping-address .field-name-field-shipping-address-postcode .field,
			.page-checkout #content form fieldset.group-corporation-data .field-name-field-corporation-postcode .field,
			.page-user #content form fieldset.group-corporation-data .field-name-field-corporation-postcode .field {
				width: 110px;
				margin: 0px;
			}
			fieldset.group-shipping-address .field-name-field-shipping-address-city,
			fieldset.group-shipping-address .field-name-field-shipping-address-street,
			fieldset.group-corporation-data .field-name-field-corporation-city,
			fieldset.group-corporation-data .field-name-field-corporation-street {
				float: left;
				width: 240px;
			}
		.page-user #content form fieldset.group-shipping-address 
		.page-user #content form fieldset.group-shipping-address .field,
		.page-checkout #content form fieldset.group-shipping-address 
		.page-checkout #content form fieldset.group-shipping-address .field {
			float: none;
		}
		.group-corporation-bank-data .field-type-text,
		.group-corporation-data .field-type-text,
		.group-corporation-data .field-type-number-bigint {
			float: left;
		}
			.group-corporation-bank-data .field-name-field-corporation-bank-bik,
			.group-corporation-bank-data .field-name-field-corporation-bank-ks,
			.group-corporation-bank-data .field-name-field-corporation-bank-name,
			.group-corporation-bank-data .field-name-field-corporation-bank-city,
			.group-corporation-bank-data .field-name-field-corporation-bank-rs,
			.group-corporation-data .field-name-field-corporation-company,
			.group-corporation-data .field-name-field-corporation-inn,
			.group-corporation-data .field-name-field-corporation-kpp,
			.page-user-register .wrapper .field-name-field-fio,
			.page-checkout .wrapper .field-name-field-fio,
			fieldset.commerce_fieldgroup_pane__group_custom_info .field-type-text-long,
			.page-user-register #content form .field.profile-select {
				border-bottom: 1px solid #dcdcdc;
			}

			.page-user-register #content .field-name-field-fio,
			.page-checkout #content .field-name-field-fio,
			.page-checkout- #account-login-container .field {
				width: 350px;
				float: left;
				background: #f0f0f0;
			}
			.page-checkout- #account-login-container .field {
				background: none;
			}
			.page-checkout- #account-login-container button {
				float: left;
				margin: 53px 0 0 25px;
			}
				.page-user-register #content .field-name-field-fio .field,
				fieldset.account .account-login-mail,
				.page-checkout #content .field-name-field-fio .field,
				.page-user-register #content form .form-wrapper[id*="edit-account"] .field,
				.page-user-register #content .field-name-field-phone .field,
				.page-checkout #content .field-name-field-phone .field {
					width: 350px;
					margin: 0px;
				}
			.page-user-register #content .field-name-field-phone,
			.page-checkout #content .field-name-field-phone {
				width: 630px;
			}
			.group-corporation-bank-data .field-name-field-corporation-bank-bik,
			.group-corporation-bank-data .field-name-field-corporation-bank-city {
				width: 255px;
			}
				.page-user-register #content .group-corporation-bank-data .field-name-field-corporation-bank-bik .field,
				.page-checkout #content .group-corporation-bank-data .field-name-field-corporation-bank-bik .field {
					width: 120px;
				}
			.group-corporation-bank-data .field-name-field-corporation-bank-ks,
			.page-user-register #content .group-corporation-bank-data .field-name-field-corporation-bank-rs .field,
			.page-checkout #content .group-corporation-bank-data .field-name-field-corporation-bank-rs .field {
				width: 225px;
			}
			.group-corporation-bank-data .field-name-field-corporation-bank-name {
				width: 500px;
			}
			fieldset.commerce_fieldgroup_pane__group_custom_info .field-name-field-customer-comment .field {
				width: 700px;
			}
				fieldset.commerce_fieldgroup_pane__group_custom_info .field-name-field-customer-comment textarea {
					height: 100px;
				}
				.field-name-field-customer-manager select {
					width: 320px;
				}
			.group-corporation-bank-data .field-name-field-corporation-bank-rs {
				width: 725px;
			}
			.group-corporation-data .field-name-field-corporation-company,
			.page-user-register #content .group-corporation-data .field-name-field-corporation-company .field,
			.page-checkout #content .group-corporation-data .field-name-field-corporation-company .field {
				width: 350px;
			}
			.group-corporation-data .field-name-field-corporation-inn,
			.page-user-register #content .group-corporation-data .field-name-field-corporation-kpp .field,
			.page-checkout #content .group-corporation-data .field-name-field-corporation-kpp .field {
				width: 155px;
			}
			.group-corporation-data .field-name-field-corporation-kpp {
				width: 475px;
			}
				.page-user-register #content .group-corporation-data .field-name-field-corporation-company .field,
				.page-checkout #content .group-corporation-data .field-name-field-corporation-company .field {
					margin: 0px;
				}
	.commerce-profile-select .ajax-progress {
		position: absolute;
		top: 60%;
		left: 350px;
		margin: 0px 0 0;
	}
	.checkout-buttons {
		margin: 20px 0;
		text-align: right;
	}
		.checkout-buttons button.medium,
		.checkout-buttons button.medium:hover {
			display: inline-block;
			*display: inline;
			margin: 0 0 0 15px;
			zoom: 1;
		}
		.field-widget-dragndrop-upload-file {
			display: table;
			width: 100%;
			padding: 10px 15px 20px;
			background: #f6f6f6;
		}
			.field-widget-dragndrop-upload-file label {
				display: none;
			}
			.page-user #content .field-widget-dragndrop-upload-file .field {
				width: 100%;
				float: none;
				margin: 0px;
			}
				.field-widget-dragndrop-upload-file .droppable {
					position: relative;
					width: 465px;
					min-height: 75px;
					color: #838383;
					border: 2px dashed #9f9f9f;
					padding: 15px 10px;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
				}	
				.ie7 .field-widget-dragndrop-upload-file .droppable,
				.ie8 .field-widget-dragndrop-upload-file .droppable,
				.ie9 .field-widget-dragndrop-upload-file .droppable,
				.ie7 .droppable-after,
				.ie8 .droppable-after,
				.ie9 .droppable-after {
					display: none;
				}
					.droppable-message {
						text-align: left;
						font-size: 1rem;
						line-height: 1.7142rem;
					}
					.droppable-standard-upload {
						position: absolute;
						top: 20px;
						left: 480px;
						width: 400px;
					}
						.droppable-standard-upload .droppable-browse-button {
							background: none;
							padding: 0px;
							height: auto;
							font-size: 1.2857rem;
							margin-left: 30px;
							line-height: 1em;
							text-transform: uppercase;
							color: #3eafc9;
							border-bottom: 1px solid #3eafc9;
							border-radius: 0px;
							-moz-border-radius: 0px;
							-webkit-border-radius: 0px;
						}
						.droppable-standard-upload .droppable-browse-button:hover {
							border: 0px;
						}
					.droppable-after {
						clear: both;
						color: #838383;
						padding: 10px 0 0;
					}
	.page-checkout- .commerce-profile-select {
		width: 100%;
		padding: 20px 10px 15px 20px;
		margin: 0;
	}
		.page-checkout- .commerce-profile-select select,
		.page-checkout- .commerce-fieldgroup-pane--group-custom-info-field-checkout-manager-reference-und select {
			width: 320px;
		}
	.page-checkout- #content .field-name-field-fio,
	.page-checkout- #content .field-type-phone,
	.page-checkout- fieldset.group-shipping-address,
	.page-checkout- .field-widget-dragndrop-upload-file,
	.page-checkout- .commerce-profile-select,
	form fieldset.account {
		background: #f6f6f6;
		border-bottom: 1px solid #dcdcdc;
	}
	form fieldset {
		position: relative;
		display: table;
		width: 100%;
		clear: both;
		margin: 0px;
	}
		fieldset[id~="edit-profile-corporation"] legend,
		fieldset[id~="edit-profile-individual"] legend {
			display: none;
		}
			fieldset[id~="edit-profile-corporation"] fieldset legend,
			fieldset[id~="edit-profile-individual"] fieldset legend {
				display: inline-block;
			}
		form fieldset legend {
			display: inline-block;
			*display: inline;
			position: absolute;
			width: 150px;
			height: 28px;
			line-height: 28px;
			background: #3eafc9;
			color: #fff;
			top: 61px;
			left: -88px;
			text-align: right;
			border-radius: 5px 5px 0 0;
			padding: 0px 15px;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
			zoom: 1;
		}
	table.checkout-review {
		border: 0;
	}
		table.checkout-review tr {
			background: none;
			border: 0;
		}
			table.checkout-review tr td {
				padding: 0;
				border: 0;
			}
			table.checkout-review tr td .views-table th {
				padding: 20px 20px 5px;
				border-bottom: 1px solid #dcdcdc;
			}
			table.checkout-review tr td .views-table td {
				padding: 20px;
				border-bottom: 1px solid #dcdcdc;
			}
			table.checkout-review .pane-title td {
				font-size: 18px;
				padding: 10px 15px;
			}
	.entity-commerce-customer-profile table,
	.entity-commerce-customer-profile table * {
		background: none;
		border: 0;
	}
		.entity-commerce-customer-profile table td,
		.entity-commerce-customer-profile table th { 
			padding-left: 0;
		}
		.entity-commerce-customer-profile table th {
			color: #838383;
			font-weight: 400;
		}
/*
	Sidebar
*/
#sidebar {
	width: 210px;
	float: right;
}
	#sidebar .block {
		margin: 0 0 20px;
	}
	#sidebar .block-title {
		font-size: 1.1428em;
		margin: 0 15px 10px;
	}
	#sidebar .content ul,
	#sidebar .content ul li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
		#sidebar .content ul li {
			margin: 0 0 1px;
		}
			#sidebar .content ul li a {
				display: block;
				height: auto;
				padding: 3px 15px;
				font-size: 1.1428em;
				text-transform: uppercase;
			}
				#sidebar .content ul li a i {
					display: none;
				}
				#sidebar .content ul li a span {
					text-decoration: underline;
				}
			#sidebar .content ul li a:hover,
			#sidebar .content ul li.active-trail > a {
				display: block;
				background: #afafaf;
				color: #fff;
				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
			}
				#sidebar .content ul li a:hover span,
				#sidebar .content ul li.active-trail > a span {
					text-decoration: none;
				}
			#sidebar .content ul li ul {
				display: none;
				margin: 0;
			}
			#sidebar .content ul li.active-trail ul {
				display: block;
			}
				#sidebar .content ul li ul li {
				}
				#sidebar .content ul li ul li a {
					font-size: 1em;
					padding: 3px 25px;
					text-transform: normal;
				}
				#sidebar .content ul li ul li a:hover,
				#sidebar .content ul li ul li.active-trail > a {
					background: #f0f0f0;
					color: #3eafc9;
				}


/*
	Under-content
*/
	.under-content-carousel {
		position: relative;
		margin: 0 0 60px;
	}
		.front .under-content-carousel .jcarousel li {
			float: left;
			width: 307px;
			margin: 0 19px 20px 0;
		}
		.no-js.node-type-detail .under-content-carousel .jcarousel li {
			float: left;
			width: 315px;
			margin: 0 10px 20px 0;
		}
		.under-content-carousel .view-header {
			position: relative;
			height: 65px;
			background: #3eafc9;
			border-bottom: 5px solid #1c8fa8;
			margin: 0 0 60px;
		}
		.under-content-carousel .view-header,
		.under-content-carousel .view-header a {
			color: #fff;
		}
			.under-content-carousel .view-header .row .columns > div {
				display: inline-block;
				*display: inline;
				vertical-align: middle;
				zoom: 1;
			}
			.under-content-carousel .view-header .title {
				font-size: 24px;
				line-height: 65px;
				margin: 0 40px 0 0;
			}
				.under-content-carousel .view-header i {
					font-size: 25px;
					margin: 0 15px 0 0;
				}
				.under-content-carousel .node-news {
					/*padding: 0 20px 0 0;*/
				}
					.under-content-carousel .node-news .news-image {
						display: none;
					}
					.under-content-carousel .node-news .news-date {
						background: #d7473e;
						color: #fff;
						font-size: 0.8571rem;
						line-height: 24px;
						padding: 0 20px;
						margin: 0;
					}
					.under-content-carousel .node-news .news-title {
						text-align: left;
						height: 66px;
						border-bottom: 1px solid #dcdcdc;
						padding: 20px 20px 0;
						line-height: 1.2857em;
					}
					.under-content-carousel .node-news .news-text {
						text-align: left;
						padding: 5px 20px 0;
						line-height: 1.5714em;
						min-height: 93px;
						overflow: hidden;
					}
	.red-title {
		color: #d7473e;
		margin: 0 0 20px;
		font-size: 1.125em;
	}
	.jcarousel-skin-default .jcarousel-container-horizontal {
		width: 100%;
		height: auto;
		padding: 0px;
		margin: 0;
	}
		.jcarousel-skin-default .jcarousel-clip-horizontal {
			width: 100%;
		}
			.jcarousel-skin-default .jcarousel-item {
				width: 315px;
				height: auto;
				border: 0px;
				margin: 0 20px 0 0;
			}
			.jcarousel-skin-default .jcarousel-next-horizontal,
			.jcarousel-skin-default .jcarousel-prev-horizontal {
				width: 22px;
				height: 22px;
				top: -105px;
				background-color: #d7473e;
				background-image: url('../images/content/carousel-sprites.png');
				background-position: 0px 0px;
				background-repeat: no-repeat;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
			}
			.jcarousel-skin-default .jcarousel-next-horizontal,
			.jcarousel-skin-default .jcarousel-next-horizontal:hover {
				right: 0px;
				background-position: -28px 5px;
			}
			.jcarousel-skin-default .jcarousel-prev-horizontal,
			.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
				left: 100%;
				margin-left: -50px;
				background-position: 7px 5px;
			}
/*
	Footer
*/
#footer {
	position: relative;
	min-width: 1020px;
	height: 125px;
	margin: -125px 0 0;
	padding: 20px 0;
	background: #2a9fb9;
	border-top: 10px solid #228fa7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
	#footer,
	#footer a {
		color: #fff;
	}
	#footer .social,
	#footer .nexton {
		padding: 20px 0 0;
	}
			#footer .social a i {
				display: inline-block;
				*display: inline;
				position: relative;
				width: 40px;
				height: 40px;
				margin: 0 0 0 10px;
				background: url('../images/content/social.png') 0px 0px no-repeat;
				zoom: 1;
			}
			#footer .social a i.youtube-icon {
				background: none;
			}
			#footer .social a i.youtube-icon:before {
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
				background: #fff;
				width: 25px;
				height: 28px;
				margin: -14px 0 0 -12.5px;
			}
			#footer .social a i.youtube-icon:after {
				position: absolute;
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				background: url('../images/footer/youtube.png') center center no-repeat;
			}
			#footer .social a i.twiter-icon {
				background-position: -45px 0;
			}
/*
	Search page 
*/
.page-search .views-exposed-form {
	margin: 0 0 45px;
}
.page-search form .views-exposed-widget {
	width: 50%;
	height: auto;
	float: left;
	padding: 15px 27px 20px 15px;
	border-bottom: 1px solid #dcdcdc;
}
	.page-search form .views-widget-filter-term_node_tid_depth_1,
	.page-search form .views-widget-filter-field_parts_group_reference_tid,
	.page-search form .views-exposed-widget.views-submit-button {
		border: 0;
	}
	.page-search form .views-exposed-widget.views-submit-button {
		height: auto;
		padding: 15px 27px 0 15px;
	}
		.page-search form .views-exposed-widget.views-submit-button button {
			float: right;
			width: 160px;
		}
		.page-search form .views-exposed-widget select {
			width: 100%;
		}
	.page-search .price-table .view-content {
		background: #fff;
	}
		.page-search .price-table .view-content td table {
			background: #f0f0f0;
		}
		.page-search td.views-field-field-sku .overflow-hidden span {
			background: #fff;
		}
		.page-search td table td.views-field-field-sku .overflow-hidden span {
			background: #f0f0f0;
		}
		.page-search td.views-field-field-sku .overflow-hidden:after {
			-webkit-box-shadow: 0px 0px 28px 12px rgba(255,255,255, 1);
			box-shadow: 0px 0px 28px 12px rgba(255,255,255, 1);
		}

/*
	Other
*/
.for-ie {
	display: none;
}
.ie7 .for-ie,
.ie8 .for-ie,
.ie9 .for-ie {
	display: block;
}
.ie7 .droppable-standard-upload-hidden,
.ie8 .droppable-standard-upload-hidden,
.ie9 .droppable-standard-upload-hidden {
	display: block;
	width: 300px;
	height: 50px;
}
.progress-disabled {
	display: none !important;
}
.block-callback .button,
.header-after .pull-right .button {
	position: relative;
}
.block-callback .progress-disabled,
.header-after .pull-right .progress-disabled {
	display: block !important;
}
	.block-callback .ajax-progress,
	.header-after .pull-right .ajax-progress {
		position: absolute;
		top: 0px;
		right: -30px;
	}
.file,
.file a {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	zoom: 1;
}
.file {
	margin: 0 0 10px;
}
	.file .icon {
		display: block;
		float: left;
		padding: 30px 0 0;
		margin: 0 10px 0 0;
		background: url('../images/content/file_icons/file-icons.png') 5px 0px no-repeat;
	}
		.file.application-pdf .icon {
			background-position: -74px 0;
		}
		.file.application-vnd-openxmlformats-officedocument-spreadsheetml-sheet .icon {
			background-position: -35px 0;
		}
		.file.jpg .icon {
			background-position: -107px 0;
		}
		.file .size {
			color: #c4c4c4;
			font-size: 0.6428em;
			width: 30px;
			display: block;
			white-space: nowrap;
		}
	.file a {
		height: 57px;
		line-height: 42px;
	}

.view-id-cross_search .views-exposed-widgets {
	padding: 20px 50px;
}
	.view-id-cross_search .views-exposed-widget.views-submit-button {
		float: none;
  		padding-top: 28px;
  		height: 63px;
	}
	.view-id-cross_search fieldset {
		height: 170px;
	}

#modal-backdrop,
#modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index:999;
}
	#modal {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 430px;
		height: 345px;
		margin: -172.5px 0 0 -215px;
		padding: 60px 45px;
		background: #f0f0f0;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		z-index: 1000;
	}
#modal-backdrop,
.fancybox-lock .fancybox-overlay {
	background: #000;
	background: rgba(0,0,0,0.45);
}
.fancybox-opened .fancybox-skin {
	background: #f0f0f0;
}
.navbar { margin: 0;}
	.navbar ul li {
		padding: 0px;
	}
		.navbar ul li,
		.navbar ul li > a {
			height: auto;
			line-height: normal;
			text-shadow: none;
		}
	/* buttons */
	.button,
	button {
		display: inline-block;
		width: auto;
		background: #f2f2f2;
		-webkit-appearance: none;
		font-family: "PT Sans";
		font-weight: 600;
		text-align: center;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.button {
		padding: 0 !important;
	}
	.button.medium,
	button.medium {
		font-size: 14px;
		font-size: 1rem;
		height: 31px;
		line-height: 29px;
		border: 0px;
		margin: 0 0 5px 5px;
	}
	.button.primary,
	button.primary,
	.checkout-buttons .checkout-cancel:hover,
	.checkout-buttons .checkout-cancel,
	.page-cart #content .form-actions button.medium {
		background: #3eafc9;
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0 ;
	}
	.button.primary:hover,
	button.primary:hover {
		background: #63d7e6;
	}
	.button.red,
	button.red {
		background: #d7473e;
	}
	.button.red:hover,
	button.red:hover {
		background: #ee736b;
	}	

		.button.medium a,
		button.medium,
		.catalog-tabs li a span,
		.checkout-buttons .checkout-cancel:hover,
		.checkout-buttons .checkout-cancel {
			display: block;
			cursor: pointer;
			color: #fff;
			padding: 2px 10px 0;
			height: 100%;
			text-transform: uppercase;
			text-decoration: none;
			-webkit-transform: translate(0px,0px);
			-moz-transform: translate(0px,0px);
			-o-transform: translate(0px,0px);
			-ms-transform: translate(0px,0px);
			transform: translate(0px,0px);
		}
	.button:active,
	button:active {
		outline: 0px;
		-webkit-transform: translate(-3px, 3px);
		-moz-transform: translate(-3px, 3px);
		-o-transform: translate(-3px, 3px);
		-ms-transform: translate(-3px, 3px);
		transform: translate(-3px, 3px);
	}
	button:focus {
		outline: 0px;
	}
	/* input, textarea */
	.field input, 
	.field input[type="*"], 
	.field textarea {
		padding: 1px 15px;
		background: #fff;
		color: #a6a6a6;
		line-height: 2.5714em;
		height: 36px;
		outline: none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow:inset -1px 2px 3px 0 rgba(57,57,57,0.6);
		box-shadow:inset -1px 2px 3px 0 rgba(57,57,57,0.6);
	}
	.field input:focus, 
	.field input[type="*"]:focus, 
	.field textarea:focus {
		line-height: 36px;
	}
	.field input.error, 
	.field input[type="*"].error {
		border: 2px solid #f34545;
	}
	.field input[type="checkbox"] {
		width: auto;
		height: auto;
		float: left;
		border: 0px;
		padding: 0px;
		background: none;
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	.field.checkbox label {
		position: relative;
	}

	/* pager */
	.item-list .pager {
		text-align: right;
	}
		.item-list .pager li {
			padding: 0px;
			margin: 0 0 0 3px;
		}
		.item-list .pager li,
		.item-list .pager li a {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}
		.item-list .pager li a,
		.item-list .pager li.pager-current {
			padding: 0px 5px;
			min-width: 23px;
			height: 23px;
			text-align: center;
			font-weight: normal;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
		.item-list .pager li a:hover,
		.item-list .pager li.pager-current {
			background: #2a9fb9;
			color: #fff;
		}
.owl-theme .owl-controls {
	position: absolute;
	top: -110px;
	right: 0px;
	margin: 0px;
}
	.owl-theme .owl-controls .owl-buttons div,
	.news-pager a i {
		width: 22px;
		height: 22px;
		background-color: #d7473e;
		background-image: url('../images/content/carousel-sprites.png');
		background-position: 0px 0px;
		background-repeat: no-repeat;
		overflow: hidden;
		text-indent: 999px;
		box-shadow: none;		
		opacity: 1;
	}
	.news-pager a i {
		display: inline-block;
		*display: inline;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		zoom: 1;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev,
	.news-pager a.next i {
		background-position: 7px 5px;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next,
	.news-pager a.prev i {
		background-position: -28px 5px;
	}
	.owl-theme .owl-controls .owl-buttons div:hover {
		opacity: 0.8;
	}
#scroller {
	position: fixed;
	display: none;
	bottom: 120px;
	right: 40px;
	text-align: center;
	font-size: 1.2857em;
	color: #d7473e;
	cursor: pointer;
}
	#scroller div {
		position: relative;
		width: 55px;
		height: 55px;
		background: #d7473e;
		-webkit-border-radius: 50% !important; 
		-moz-border-radius: 50% !important; 
		-ms-border-radius: 50% !important; 
		-o-border-radius: 50% !important; 
		border-radius: 50% !important; 
	}
		#scroller div:before {
			display: block;
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			margin-top: -5px;
			margin-left: -12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12px 10px 12px;
			border-color: transparent transparent #fff transparent;
		}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.view-id-slider .views-slideshow-cycle-main-frame,
.view-id-slider	.views-slideshow-cycle-main-frame-row {
	width: 100% !important;
}
/* form element styles */
div.form-item {}
	.form-item.error {
		background: none;
	}
		.form-item input.error, 
		.form-item textarea.error, 
		.form-item select.error {
			border: 1px solid #d7473e;
		}
		.form-textarea-wrapper .grippie {
			display: none;
		}
		.form-item label {
			display: block;
			float: none;
			width: auto;
			font-size: 1rem;
			color: #838383;
		}
		.form-item.error label {
			color: #d7473e;
		}
.page-eform .entityform {
	background: #f0f0f0;
	width: 360px;
	padding: 1px 20px 20px;
}
	.page-eform .entityform .form-item {
		width: 320px;
	}
	.page-eform .entityform textarea {
		height: 120px;
	}
/* Back to top button */
#backtotop,
#backtotop:hover {
	height: 80px;
	border: 0px;
	background: transparent;
	line-height: 1em;
	bottom: 180px;
}
	#backtotop div {
		position: relative;
		width: 55px;
		height: 55px;
		background: #d7473e;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		margin: 0 0 10px;
	}
		#backtotop div i {
			position: absolute;
			display: block;
			content: '';
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			margin: -5px 0 0 -11px;
			border-style: solid;
			border-width: 0 11px 11px 11px;
			border-color: transparent transparent #fff transparent;
		}
/* messages styles */
div.messages.error, 
table tr.error {
	border: 0px;
	background: #ecd7d5;
	color: #d7473e;
	padding: 12px 20px 8px;
}

body .ajax-progress .throbber {
	width: 16px;
	height: 16px;
	background: url('../images/content/ajax-loader.gif') 0px 0px no-repeat;
}
/* spinner styles */
.ui-spinner a.ui-spinner-button {
	background: #3eafc9;
	border: 1px solid #228fa7;
	border-top: 0px;
	border-right: 0px;
	cursor: pointer;
}
	.ui-spinner a.ui-spinner-button span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		padding: 0px;
		margin: -3px 0 0 -6px;
		width: 0;
		height: 0;
		text-indent: 9999;
		border-style: solid;
		border-width: 0 6px 6px 6px;
		border-color: transparent transparent #228fa7 transparent;
	}
		.ui-spinner a.ui-spinner-button span span {
			margin: 1px 0 0 -5px;
			top: 0px;
			left: 0px;
			border-width: 0 5px 5px 5px;
			border-color: transparent transparent #fff transparent;
		}
.ui-spinner {
	border: 0px;
}
.ui-spinner a.ui-spinner-button.ui-spinner-down {
	border-bottom: 0px;
}
	.ui-spinner a.ui-spinner-button.ui-spinner-down span {
		border-width: 6px 6px 0 6px;
		border-color: #228fa7 transparent transparent transparent;
	}
		.ui-spinner a.ui-spinner-button.ui-spinner-down span span {
			margin: -6px 0 0 -5px;
			top: 0px;
			left: 0px;
			border-width: 5px 5px 0 5px;
			border-color: #fff transparent transparent transparent;
		}
/* chosen styles */
.field-widget-options-select .field {
	overflow: visible;
}
	.chosen-container {
		font-size: 1rem;
	}
		.chosen-container-single .chosen-single {
			height: 36px;
			line-height: 36px;
			background: #fff;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border: 0px;
		}
			.chosen-container-single .chosen-single:after {
				position: absolute;
				display: block;
				content: '';
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				-webkit-box-shadow: inset -1px 2px 3px 0 rgba(57,57,57,0.6);
				box-shadow: inset -1px 2px 3px 0 rgba(57,57,57,0.6);
			}

			.chosen-container-single .chosen-single div {
				width: 35px;
				background: #3eafc9;
				border-left: 1px solid #228fa7;
			}
				.chosen-container-single .chosen-single div b {
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: 50%;
					left: 50%;
					margin-top: -2px;
					margin-left: -6px;
					border-style: solid;
					border-width: 6px 6px 0 6px;
					border-color: #205a67 transparent transparent transparent;
				}
					.chosen-container-single .chosen-single div b:before {
						position: absolute;
						display: block;
						content: '';
						width: 0;
						height: 0;
						top: -5px;
						left: -6px;
						border-style: solid;
						border-width: 6px 6px 0 6px;
						border-color: #fff transparent transparent transparent;
					}
		.chosen-container-active.chosen-with-drop .chosen-single {
			border: 0px;
			background: #fff;
		}
			.chosen-container-active.chosen-with-drop .chosen-single div {
				width: 35px;
				background: #3eafc9;
				border-left: 1px solid #228fa7;
			}
				.chosen-container-active.chosen-with-drop .chosen-single div b {
					border-width: 0 6px 6px 6px;
					border-color: transparent transparent #205a67 transparent;
				}
					.chosen-container-active.chosen-with-drop .chosen-single div b:before {
						top: -1px;
						border-width: 0 6px 6px 6px;
						border-color: transparent transparent #fff transparent;
					}
		.chosen-container .chosen-drop {
			z-index: 9999;
			border: 0px;
			padding: 5px 0 0;
		}
		.chosen-container .chosen-results {
			max-height: 500px;
		}
			.chosen-container .chosen-results li.result-selected,
			.chosen-container .chosen-results li.highlighted {
				background: #3eafc9;
				color: #fff;
			}
.form-type.select {
	overflow: visible;
}
/* form fieldset */
form fieldset {
	padding: 0px;
	border: 0px;
}
/* colorbox styles */
#cboxWrapper {
	background: #f0f0f0;
}
	#cboxTopLeft {
    width: 25px;
    height: 15px;
  }
  #cboxTopCenter {
    height: 45px;
  }
  #cboxTopRight {
    width: 15px;
    height: 15px;
  }
  #cboxBottomLeft {
    width: 15px;
    height: 10px;
  }
  #cboxBottomCenter {
    height: 75px;
  }
  #cboxBottomRight {
    width: 15px;
    height: 10px;
  }
  #cboxMiddleLeft {
    width: 25px;
  }
  #cboxMiddleRight {
    width: 25px;
  }
  #cboxContent {
  	background: transparent;
  	overflow: visible;
  }
  #cboxClose,
  #cboxClose:hover,
  .modal-close {
  	position: absolute;
  	top: -40px;
  	right: -20px;
  	background: url('../images/content/close.png') 0px 0px no-repeat;
  }
  .modal-close {
  	width: 23px;
  	height: 23px;
  	cursor: pointer;
  }
  #cboxLoadedContent {
  	margin: 0;
  }
  #cboxTitle {
  	display: block !important;
		width: 85% !important;
		bottom: -47px !important;
		padding: 0px !important;
		margin: 0px !important;
		background: none !important;
		height: auto !important;
  }
  #cboxCurrent {
  	display: none !important;
  }
  #cboxPrevious,
  #cboxNext,
  #cboxPrevious:hover,
  #cboxNext:hover {
  	width: 22px;
		height: 22px;
		bottom: -45px;
		background-color: #d7473e;
		background-image: url('../images/content/carousel-sprites.png');
		background-position: 6px 5px;
		background-repeat: no-repeat;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
  }
  #cboxPrevious,
  #cboxPrevious:hover {
  	left: 100%;
  	margin-left: -65px;
  	background-position: 6px 5px;
  }
  #cboxNext,
  #cboxNext:hover {
  	left: 100%;
  	margin-left: -25px;
  	background-position: -28px 5px;
  }
  #cboxPrevious:hover,
  #cboxNext:hover {
  	opacity: 0.8;
  }
.page-import form fieldset legend {
	display: none;
}
div.messages ul {
	margin: 0;
}

/*
 * SEARCH AUTOCOMPLETE
 *
 * Sponsored by:
 * www.axiomcafe.fr
 */

/**
 * THEME BASIC BLUE
 */

/* AUTOCOMPLETE */
.ui-theme-basic-blue.ui-autocomplete {
  position: absolute;
  cursor: default;
}
* html .ui-theme-basic-blue.ui-autocomplete {
  width: 1px; /* without this, the menu expands to 100% in IE6 */
}

.ui-theme-basic-blue.ui-widget-content {
  background: none;
  border-radius: 0px;
  color: #a6a6a6;
  border: 0;
  box-shadow: none;
  position: absolute;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
}

/* AUTOCOMPLETE MENU */
#ui-theme-basic-blue div {
  display: block;
}
#ui-theme-basic-blue.ui-menu {
	height: auto;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
  list-style: none;
  padding: 0px;
  margin: 0;
  display: block;
  float: left;
  min-width: 350px;
  border: 1px solid #f0f0f0;
}
#ui-theme-basic-blue.ui-menu .ui-menu {
  margin-top: -3px;
}
#ui-theme-basic-blue.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
  width: 100%;
  line-height: 14px;
  font-size: 12px;
}
#ui-theme-basic-blue.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0;
}
#ui-theme-basic-blue.ui-menu .ui-menu-item a {
  font-weight: normal;
  color: #a6a6a6;
}

/* Interaction States */
#ui-theme-basic-blue .ui-state-focus {
  background: none;
  border: none;
  border-radius: 0px;
  background-color: #2a9fb9;
  color: #fff;
}
#ui-theme-basic-blue.ui-menu .ui-menu-item a.ui-state-focus {
	color: #fff;
}
#ui-theme-basic-blue .ui-state-hover {
  background: none;
  border: none;
  border-radius: 0px;
  background-color: #2a9fb9;
  color: #fff;
}
#ui-theme-basic-blue .ui-autocomplete-fields {
  padding: 5px 6px;
  overflow: hidden;
}
#ui-theme-basic-blue .ui-menu-item-first {
  border-top: 0;
}
	#ui-theme-basic-blue .ui-menu-item-first a {
		color: #2a9fb9 !important;
	}
#ui-theme-basic-blue .ui-autocomplete-field-title {
  text-align: left;
  font-size: 1.3em;
}
#ui-theme-basic-blue .ui-autocomplete-field-term {
  font-weight: bold;
}
#ui-theme-basic-blue .ui-autocomplete-field-group {
  background-position: right top;
  background-repeat: no-repeat;
  color: #1200db;
  float: right;
  position: relative;
  right: 5px;
}
.checkout-buttons .checkout-back,
.checkout-buttons .checkout-back:hover {
	background: #3eafc9;
	color: #fff;
}
	.checkout-buttons .checkout-back:hover a {
		text-decoration: none;
	}

	.node-detail.node-teaser .field-name-field-image img {
		width: 100% !important;
	}
	.node-type-detail .view-replacements td.views-field-product-image {
		display: none;
	}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
	width: 19%;
}
.clearfix {
	display: table;
	width: 100%;
}
#cboxContent .colorbox-print {
	position: absolute;
	left: 0px;
	top: -33px;
	font-size: 18px;
}
.page-checkout .checkout-help {
	font-size: 18px;
	margin: 0 0 20px;
}
.buble-height {
	height: 140px;
} 
div.field-name-field-custom-manager {
	width: 300px !important;
	margin: 0 0 20px !important;
}
.protectionOverlayHref img {
	display: block;
	width: 100%;
	height: 100%;
}
.counters {
	display: none;
}
.front .three.columns ul li {
	font-size: 1rem;
}
.front .three.columns ul.list-style li:before {
	display: inline;
	content: '•';
	color: #d1c1b1;
	margin: 0 5px 0 0;
}
.node-branch .field-name-field-image {
	float: left;
	margin: 0 20px 20px 0;
}
.page-checkout-review #content table.checkout-review tr.pane-data td .field-name-field-customer-comment,
.page-checkout-review #content table.checkout-review tr.pane-data td .field-name-field-checkout-manager-reference {
	width: 100%;
	margin: 0 0 20px;
}
#netcustos_swfcontainer {
	display: none;
}
#navbar-administration .clearfix {
	display: block;
}
body.navbar-fixed #navbar-administration.navbar-oriented .navbar-bar {
	margin: 20px 0 0;
}

.watch-all {
	position: relative;
}
	.watch-all .button {
		position: absolute;
		top: -115px;
		right: 40px;
	}
.url-textfield {
	display: none;
}
