/* =============================================================================
   BASE
   ========================================================================== */
/*body {
	font-family:	Arial, helvetica, sans-serif;
	font-size:		87.5%;
	font-style:		normal;
	font-weight:	normal;
	letter-spacing:	normal;
	line-height: 	1.4286em; /* 20px */
	/*text-transform:	none;*/
}*/
/* =============================================================================
   Headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 { 
	font-family: "Open Sans"; 
	font-weight: Normal; 
	color: #444; 
	text-rendering: optimizeLegibility; 
	padding-top: 0.273em; 
	line-height: 1.15538em; 
	padding-bottom: 0.273em; 
}
h1 {
	font-size: 26px; font-size: 1.625rem;
}
h2 {
	font-size: 24px; font-size: 1.5rem;
}
h3 {
	font-size: 22px; font-size: 1.375rem;
}
h4  {
	font-size: 20px; font-size: 1.25rem;
}
h5 {
	font-size: 18px; font-size: 1.125rem;
}
h6 {
	font-size: 16px; font-size: 1rem;
}
