.view-filters {
	clear: both;
}
.page-admin table tr.odd.views-commerce-orders-table-highlighter-red { background-color: #f99; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-red             { background-color: #fbb; }
	.page-admin table tr.odd.views-commerce-orders-table-highlighter-red td { background-color: #f99; }
	.page-admin table tr.even.views-commerce-orders-table-highlighter-red td            { background-color: #fbb; }
.page-admin table tr.odd.views-commerce-orders-table-highlighter-red  .active     { background-color: #f88; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-red .active     { background-color: #faa; }

.page-admin table tr.odd.views-commerce-orders-table-highlighter-green            { background-color: #9f9; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-green           { background-color: #bfb; }
	.page-admin table tr.odd.views-commerce-orders-table-highlighter-green td           { background-color: #9f9; }
	.page-admin table tr.even.views-commerce-orders-table-highlighter-green td          { background-color: #bfb; }
.page-admin table tr.odd.views-commerce-orders-table-highlighter-green  .active   { background-color: #8f8; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-green .active   { background-color: #afa; }

.page-admin table tr.odd.views-commerce-orders-table-highlighter-blue             { background-color: #99f; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-blue            { background-color: #bbf; }
	.page-admin table tr.odd.views-commerce-orders-table-highlighter-blue td             { background-color: #99f; }
	.page-admin table tr.even.views-commerce-orders-table-highlighter-blue td           { background-color: #bbf; }
.page-admin table tr.odd.views-commerce-orders-table-highlighter-blue  .active    { background-color: #88f; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-blue .active    { background-color: #aaf; }

.page-admin table tr.odd.views-commerce-orders-table-highlighter-yellow           { background-color: #ff9; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-yellow          { background-color: #ffb; }
	.page-admin table tr.odd.views-commerce-orders-table-highlighter-yellow td           { background-color: #ff9; }
	.page-admin table tr.even.views-commerce-orders-table-highlighter-yellow td         { background-color: #ffb; }
.page-admin table tr.odd.views-commerce-orders-table-highlighter-yellow  .active  { background-color: #ff8; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-yellow .active  { background-color: #ffa; }

.page-admin table tr.odd.views-commerce-orders-table-highlighter-magenta          { background-color: #f9f; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-magenta         { background-color: #fbf; }
	.page-admin table tr.odd.views-commerce-orders-table-highlighter-magenta  td        { background-color: #f9f; }
	.page-admin table tr.even.views-commerce-orders-table-highlighter-magenta  td       { background-color: #fbf; }
.page-admin table tr.odd.views-commerce-orders-table-highlighter-magenta  .active { background-color: #f8f; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-magenta .active { background-color: #faf; }

.page-admin table tr.odd.views-commerce-orders-table-highlighter-cyan             { background-color: #9ff; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-cyan            { background-color: #bff; }
	.page-admin table tr.odd.views-commerce-orders-table-highlighter-cyan td            { background-color: #9ff; }
	.page-admin table tr.even.views-commerce-orders-table-highlighter-cyan td           { background-color: #bff; }
.page-admin table tr.odd.views-commerce-orders-table-highlighter-cyan  .active    { background-color: #8ff; }
.page-admin table tr.even.views-commerce-orders-table-highlighter-cyan .active    { background-color: #aff; }
table .views-field-name {
	min-width: 50px !important;
}
table .views-field-name a {
	display: block;
	width: 80px;
}
table .views-field-operations {
	width: 315px;
}
	table .views-field-operations a {
		display: inline;
		width: 50px;
	}
table .views-field-status {
	width: 50px !important;
}
.page-admin-commerce-orders .views-exposed-form {
	margin: 0 0 20px;
}
.page-admin-commerce-orders .form-item {
	padding: 0px;
	border: 0px;
}
	.page-admin-commerce-orders .views-widget-filter-date_filter {
		width: 400px;
	}
		.page-admin-commerce-orders .views-widget-filter-date_filter #edit-date-filter-min-wrapper,
		.page-admin-commerce-orders .views-widget-filter-date_filter #edit-date-filter-max-wrapper {
			float: left;
		}
	.page-admin-commerce-orders .views-submit-button,
	.page-admin-commerce-orders .views-reset-button {
		margin: 39px 0 0 0;
	}
	.page-admin-commerce-orders .views-submit-button {
		margin: 73px 0 0 0;
	}
		.page-admin-commerce-orders .views-submit-button input {
			margin: 0;
		}
		.views-exposed-form .views-exposed-widget .form-submit {
			margin: 0;
		}
	.page-admin-commerce-orders .form-item.form-item-changed-max label {
		display: none;
	}
	.page-admin-commerce-orders .form-item.form-item-changed-max:before {
		display: block;
		content: '-';
	}
	/*.page-admin-commerce-orders .views-widget-filter-status .form-item {
		padding: 39px 0 0 0;
	}*/
.page-admin-commerce-orders #page {
	margin-left: 20px;
}
.views-exposed-widget.views-widget-filter-status label {
	margin: 0 0 40px;
}
.views-exposed-widget.views-widget-filter-date_filter .views-widget{
	display: table-cell;
	width: 100%;
}
	.views-exposed-widget.views-widget-filter-date_filter .views-widget > div {
		float: left;
	}
.view-header #commerce-order-ui-redirect-form .form-submit {
	margin: 38px 0 0;
}